{% if link_membership_url %}
  <p>
    One more step: <b>to manage or cancel this membership</b>{% if membership.level.bid_badge_name %} and claim your {{ membership.subscription.plan }} badge{% endif %},
    follow the link below and sign in with your Blender ID.
  </p>
  <p>
    <a href="{{ link_membership_url }}">{{ link_membership_url }}</a>
  </p>
{% endif %}
