{% extends "email_layout.html" %}

{% block body %}
  <p>Thank you for donating to the Blender Development Fund!</p>

  {% if not user and link_donation_url %}
    <p>
      To view your donation receipt {% if order.campaign_set.count %}and to <b>claim your badge</b> {% endif %}follow the link below and sign in with your Blender ID.
      <p>
        <a href="{{ link_donation_url }}">{{ link_donation_url }}</a>
      </p>
    </p>
  {% endif %}

  <p>
    <h4>Payment information:</h4>
    <table>
      <tbody>
        <tr>
          <td>Receipt ID:</td>
          <td>{{ order.id }}</td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td>{{ order.price.with_currency_symbol_nonocents }}</td>
        </tr>
        <tr>
          <td>Payment method:</td>
          <td>{{ order.payment_method.recognisable_name|capfirst }}</td>
        </tr>
        <tr>
          <td>Date:</td>
          <td>{{ order.paid_at|date:"Y-m-d" }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ order.name }}</td>
        </tr>
      </tbody>
    </table>
  </p>
  <p>
    <h4>Billing information:</h4>
    {{ order.email }}<br>
    <pre>
      {{ order.billing_address }}
    </pre>
  </p>

  {% if user and receipt_pdf_url %}
    <p>
      To download PDF of the receipt follow the link below:
      <p>
        <a href="{{ receipt_pdf_url }}">{{ receipt_pdf_url }}</a>
      </p>
    </p>
  {% endif %}
  {% if user and receipts_url %}
    <p>
      You can also find this receipt at <a href="{{ receipts_url }}">{{ receipts_url }}</a>
    </p>
  {% endif %}
  <p>
    Your donations help dozens of people to work on Blender development, online infrastructure and documentation.<br>
    Check our annual reports and the grants overview at <a href="https://fund.blender.org/grants/">fund.blender.org/grants/</a>.
  </p>
{% endblock %}
