{% extends "email_layout.html" %}
{% block body %}{% spaceless %}
<p>
  {{ user.customer.billing_address.full_name }} has a {{ membership.level.name }} membership that just
  passed its 'next payment' date.
</p>
<p>
  See DevFund admin links:
</p>
<p>
  - The Membership: {{ memb_admin_url }}<br/>
  - The Subscription: {{ subs_admin_url }}<br/>
</p>
{% endspaceless %}{% endblock %}
