{% extends "email_layout.html" %}
{% block body %}
<p>
  Thank you for joining the Blender Development Fund.
  You chose to pay for your {{ membership.level.name }} membership by bank transfer,
  which means that we will be waiting for you to perform this transfer.
</p>
{% include "blender_fund_main/emails/_link_membership_cta.html" %}
<p>
  Your membership will be activated as soon as we have handled your bank transfer.<br>
  When paying, please mention the following:
</p>
<b>
<pre>
  Blender Fund Membership subs-{{ subscription.id }}
</pre>
</b>
<p>
  Please send your payment of {{ subscription.price.with_currency_symbol }} to:
</p>
<p>
  <pre>
Stichting Blender Foundation
Buikslotermeerplein 161
1025 ET Amsterdam, the Netherlands

Bank: ING Bank
Bijlmerdreef 109
1102 BW Amsterdam, the Netherlands

BIC/Swift code: INGB NL 2A
IBAN: NL45 INGB 0009356121 (for Euro countries)

Tax number NL 8111.66.223
</pre>
</p>
{% endblock %}
