
{% extends "email_layout.html" %}
{% block body %}
<p>
  Automatic payment of your Blender Development Fund membership failed.
  We have tried {{ order.collection_attempts }} times, but none of those attempts was succesful.
  As a result, we have suspended your membership for now.
</p>
<p>
  The error we received from the payment provider was: {{ failure_message }}.
</p>
{% include "blender_fund_main/emails/_link_membership_cta.html" %}
{% if not link_membership_url %}
  {# Paying for an existing order requires being logged in, #}
  {# so only show pay URL when subscription is linked to an account: #}
  <p>
    To resume your membership, please visit <a href="{{ pay_url }}">{{ pay_url }}</a>
  </p>
{% endif %}
{% endblock %}
