{% extends "email_layout.html" %}
{% block body %}
<p>
  Automatic payment of your Blender Development Fund membership failed.
  Don't worry, we will <strong>automatically try again</strong> soon.
  This was collection attempt {{ order.collection_attempts }} of {{ maximum_collection_attemps }}.
  If things still fail after that, we'll send you another email.
</p>
<p>
  The error we received from the payment provider was: {{ failure_message }}.
</p>
{% include "blender_fund_main/emails/_link_membership_cta.html" %}
{% if not link_membership_url %}
  {# Paying for an existing order requires being logged in, #}
  {# so only show pay URL when subscription is linked to an account: #}
  <p>
    For now you can either wait for another automatic try, or visit
    <a href="{{ pay_url }}">{{ pay_url }}</a> to pay manually.
  </p>
{% endif %}
{% endblock %}
