{% extends "email_layout.html" %}
{% block body %}
<p>
  Automatic payment of your Blender Development Fund membership ({{ order.price.with_currency_symbol }})
  was successful. Thank you for your contribution!
</p>
{% include "blender_fund_main/emails/_link_membership_cta.html" %}
<p>
  You will find the online receipt at <a href="{{ receipt_url }}">{{ receipt_url }}</a>
</p>
<p>
  Your contribution helps dozens of people to work on Blender development, online infrastructure and documentation.
  Check our annual reports and the grants overview at <a href="https://fund.blender.org/grants/">fund.blender.org/grants/</a>.
</p>
<p>
  In case this transaction was not authorized by you, please contact us by responding to this email. We will refund immediately.
</p>
{% endblock %}
