{% spaceless %}
  {% if not field.is_hidden %}
    <label for="{{ field.id_for_label }}">
      <span class="mr-3">{{ field.label }}{#% if field.field.required %}<span class="ms-1 subtitle fw-bold">*</span>{% endif %#}</span>
    </label>
  {% endif %}
  {{ field }}
  {% if field.help_text %}
    <small class="small subtitle ms-2">{{ field.help_text }}</small>
  {% endif %}
  <div class="invalid-feedback">{{ field.errors }}</div>
{% endspaceless %}
