<div class="row">
  <div class="col base-form-donation-display-name">
    <h2>Make it Public</h2>
    <p>
      Your gift is now part of the pile! By default it is anonymous but
      you can specify a label to make it unique.
    </p>

    <p class="mb-0">This is how your donation will appear in the
      <a href="{% url 'activity-list' %}">activity page</a>:</p>

    <div class="stats-activity mt-0 mb-2 p-0 text-center">
      <ul class="list-unstyled">
        <li class="a-cat-donation text-dark bg-light rounded py-2">
          <i class="i-activity"></i>
          <span class="x-display-name">Someone</span> donated {{ amount.with_currency_symbol_nonocents }}
        </li>
      </ul>
    </div>

    <div class="x-save-confirm text-success float-right mr-3"><b>Saved ✔</b></div>
    <form class="form" autocomplete="off">
      {% csrf_token %}
      {% include "blender_fund_main/components/form.html" %}
      <div class="x-form-errors text-danger position-absolute"></div>
      <button class="x-btn-save btn btn-primary btn-block mt-4" disabled>
        <i class="i-check"></i>
        <span>Save Public Name</span>
      </button>
    </form>
  </div>
</div>

<script>
  (function() {
    const baseEl = document.querySelector('.base-form-donation-display-name');
    function getEl(selector) {
      return baseEl.querySelector(selector);
    };
    const input = getEl('form #id_display_name');
    const preview = getEl('.x-display-name');
    const errorsEl = getEl('.x-form-errors');
    const form = getEl('form');
    const btn = getEl('.x-btn-save');
    const confirmEl = getEl('.x-save-confirm');

    input.addEventListener('input', function(e) {
      btn.disabled = false;
    }, {once: true});
    input.addEventListener('input', function(e) {
      preview.innerText = e.target.value || 'Someone';
    });

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      btn.disabled = true;
      errorsEl.innerText = '';
      const data = new FormData(e.target);
      fetch('{% url "save_donation_display_name" %}', {
        method: 'POST',
        body: data,
        credentials: 'same-origin'
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        if (data && data.display_name) {
          input.value = data.display_name;
          confirmEl.classList.add('show');
        } else {
          var errorMsg = "I'm sorry Dave, I'm afraid I can't do that";
          if (data && data.errors) {
            if (data.errors.display_name && data.errors.display_name.length > 0) {
              errorMsg = data.errors.display_name[0];
            }
          }
          errorsEl.innerText = errorMsg;
        }
        setTimeout(function() {confirmEl.classList.remove('show');}, 1300);
        btn.disabled = false;
      });
      return false;
    });
  })();
</script>
