<ul class="pagination">
  {% if page_obj.has_previous %}
  <li class="page-item page-first">
    <a href="?page=1"><i class="i-chevron-left"></i> First</a>
  </li>
  <li class="page-item page-prev">
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  </li>
  {% endif %}

  <li class="page-item page-current">
    <a href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
  </li>

  {% if page_obj.has_next %}
  <li class="page-item page-next">
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
  </li>
  <li class="page-item page-last">
    <a href="?page={{ page_obj.paginator.num_pages }}">Last <i class="i-chevron-right"></i> </a>
  </li>
  {% endif %}
</ul>
