{% load filters %}

<div>
  {% if show_remaining and maxlength %}
    <div class="float-right text-secondary">
      <span class="js-textarea-char-count">{{ maxlength }}</span> characters left
    </div>
  {% endif %}

  {% if label %}
    <label for="{{ name }}_{{ id }}">{{ label }}</label><br>
  {% endif %}
  <textarea
    class="form-control {% if show_remaining and maxlength %}js-textarea{% endif %}"
    type="text"
    name="{{ name }}"
    id="{{ name }}_{{ id }}"
    autocomplete="off"
    autocorrect="off"
    {% if cols %}cols="{{ cols}}"{% endif %}
    {% if rows %}rows="{{ rows}}"{% endif %}
    {% if minlength %}minlength="{{ minlength}}"{% endif %}
    {% if maxlength %}maxlength="{{ maxlength}}"{% endif %}
    {% if placeholder %}placeholder="{{ placeholder}}"{% endif %}
    spellcheck=false>{% if survey.response_data|get_attr:name %}{{ survey.response_data|get_attr:name }}{% endif %}</textarea>
</div>
