{% load filters %}

<div
  class="js-toggle-element py-1"
  {% if is_other %}data-toggle-other="{{ name }}_{{ id }}__other_container"{% endif %}
  {% if toggle_section %}data-toggle-section="{{ toggle_section }}"{% endif %}
  {% if toggle_state %}data-toggle-state="{{ toggle_state|default:'on' }}"{% endif %}
  >
  <input
    type="{{ type|default:'radio' }}"
    value="{{ id }}"
    name="{{ name }}"
    id="{{ name }}_{{ id }}"
    {% if type == 'checkbox'%}
      {% if id in survey.response_data|get_attr:name %}checked{% endif %}
    {% else %}
      {% if survey.response_data|get_attr:name == id %}checked{% endif %}
    {% endif %}
  />

  <label {% if translate == "no" %}translate="no"{% endif %} for="{{ name }}_{{ id }}">{{ label }}</label>
</div>

{# Text field for "Other" option. Hidden by default. #}
{% if is_other %}
{% with name|add:'__other' as other_name_attr %}
<div
  id="{{ name }}_{{ id }}__other_container"
  class="form-group mb-0 {% if type == 'checkbox' and id in survey.response_data|get_attr:name %}is-visible{% elif type != 'checkbox' and survey.response_data|get_attr:name == id %}is-visible{% else %}is-hidden{% endif %}">

  <input
    class="form-control mt-2"
    type="text"
    id="{{ other_name_attr }}"
    name="{{ other_name_attr }}"
    maxlength="128"
    placeholder="Please specify..."
    {% if survey.response_data|get_attr:other_name_attr %}
      {% if type == 'checkbox'%}
        value="{{ survey.response_data|get_attr:other_name_attr|first }}"
      {% else %}
        value="{{ survey.response_data|get_attr:other_name_attr }}"
      {% endif %}
    {% endif %}>
</div>
{% endwith %}
{% endif %}
