{% load filters %}

<div>
  {% if label %}
    <label for="{{ name }}_{{ id }}">{{ label}} </label>
  {% endif %}
  <select
    id="{{ name }}_{{ id }}"
    name="{{ name }}"
    {% if placeholder %}data-placeholder="{{ placeholder }}"{% endif %}
    {% if class %}class="{{ class }}"{% endif %}>
    <option {% if survey.response_data|get_attr:name == "en" %}selected{% endif %} value="en">English</option>
    <option {% if survey.response_data|get_attr:name == "es" %}selected{% endif %} value="es">Spanish</option>
    <option {% if survey.response_data|get_attr:name == "fr" %}selected{% endif %} value="fr">French</option>
    <option {% if survey.response_data|get_attr:name == "ca" %}selected{% endif %} value="ca">Catalan</option>
    <option {% if survey.response_data|get_attr:name == "ja" %}selected{% endif %} value="ja">Japanese</option>
    <option {% if survey.response_data|get_attr:name == "de" %}selected{% endif %} value="de">German</option>
    <option {% if survey.response_data|get_attr:name == "it" %}selected{% endif %} value="it">Italian</option>
    <option {% if survey.response_data|get_attr:name == "pt" %}selected{% endif %} value="pt">Portuguese</option>
    <option {% if survey.response_data|get_attr:name == "pt-BR" %}selected{% endif %} value="pt-BR">Portuguese (Brazilian)</option>
    <option {% if survey.response_data|get_attr:name == "zh-CN" %}selected{% endif %} value="zh-CN">Chinese (Simplified)</option>
    <option {% if survey.response_data|get_attr:name == "zh-TW" %}selected{% endif %} value="zh-TW">Chinese (Traditional)</option>
    <option {% if survey.response_data|get_attr:name == "ko" %}selected{% endif %} value="ko">Korean</option>
    <option {% if survey.response_data|get_attr:name == "ru" %}selected{% endif %} value="ru">Russian</option>
    <option {% if survey.response_data|get_attr:name == "pl" %}selected{% endif %} value="pl">Polish</option>
    <option {% if survey.response_data|get_attr:name == "nl" %}selected{% endif %} value="nl">Dutch</option>
    <option {% if survey.response_data|get_attr:name == "tr" %}selected{% endif %} value="tr">Turkish</option>
    <option {% if survey.response_data|get_attr:name == "uk" %}selected{% endif %} value="uk">Ukrainian</option>
    <option {% if survey.response_data|get_attr:name == "cs" %}selected{% endif %} value="cs">Czech</option>
    <option {% if survey.response_data|get_attr:name == "sk" %}selected{% endif %} value="sk">Slovak</option>
    <option {% if survey.response_data|get_attr:name == "ur" %}selected{% endif %} value="ur">Urdu</option>
    <option {% if survey.response_data|get_attr:name == "ka" %}selected{% endif %} value="ka">Georgian</option>
    <option {% if survey.response_data|get_attr:name == "sw" %}selected{% endif %} value="sw">Swahili</option>
    <option {% if survey.response_data|get_attr:name == "ta" %}selected{% endif %} value="ta">Tamil</option>
    <option {% if survey.response_data|get_attr:name == "vi" %}selected{% endif %} value="vi">Vietnamese</option>
    <option {% if survey.response_data|get_attr:name == "ab" %}selected{% endif %} value="ab">Abkhaz</option>
    <option {% if survey.response_data|get_attr:name == "ar" %}selected{% endif %} value="ar">Arabic</option>
    <option {% if survey.response_data|get_attr:name == "be" %}selected{% endif %} value="be">Belarusian</option>
    <option {% if survey.response_data|get_attr:name == "bg" %}selected{% endif %} value="bg">Bulgarian</option>
    <option {% if survey.response_data|get_attr:name == "el" %}selected{% endif %} value="el">Greek</option>
    <option {% if survey.response_data|get_attr:name == "eo" %}selected{% endif %} value="eo">Esperanto</option>
    <option {% if survey.response_data|get_attr:name == "eu" %}selected{% endif %} value="eu">Basque</option>
    <option {% if survey.response_data|get_attr:name == "fa" %}selected{% endif %} value="fa">Persian</option>
    <option {% if survey.response_data|get_attr:name == "ha" %}selected{% endif %} value="ha">Hausa</option>
    <option {% if survey.response_data|get_attr:name == "he" %}selected{% endif %} value="he">Hebrew</option>
    <option {% if survey.response_data|get_attr:name == "hi" %}selected{% endif %} value="hi">Hindi</option>
    <option {% if survey.response_data|get_attr:name == "hr" %}selected{% endif %} value="hr">Croatian</option>
    <option {% if survey.response_data|get_attr:name == "id" %}selected{% endif %} value="id">Indonesian</option>
    <option {% if survey.response_data|get_attr:name == "km" %}selected{% endif %} value="km">Khmer</option>
    <option {% if survey.response_data|get_attr:name == "ky" %}selected{% endif %} value="ky">Kyrgyz</option>
    <option {% if survey.response_data|get_attr:name == "ne" %}selected{% endif %} value="ne">Nepali</option>
    <option {% if survey.response_data|get_attr:name == "sl" %}selected{% endif %} value="sl">Slovenian</option>
    <option {% if survey.response_data|get_attr:name == "sr" %}selected{% endif %} value="sr">Serbian</option>
    <option {% if survey.response_data|get_attr:name == "sr-Latn" %}selected{% endif %} value="sr-Latn">Serbian (Latin)</option>
    <option {% if survey.response_data|get_attr:name == "sv" %}selected{% endif %} value="sv">Swedish</option>
    <option {% if survey.response_data|get_attr:name == "th" %}selected{% endif %} value="th">Thai</option>
  </select>
</div>
