{% load filters %}

<div>
  {% if label %}
    <label for="{{ name }}_{{ id }}">{{ label }}</label>
  {% endif %}
  <input
    class="form-control {{ class }}"
    type="number"
    name="{{ name }}"
    id="{{ name }}_{{ id }}"
    {% if min %}min="{{ min }}"{% endif %}
    {% if max %}max="{{ max }}"{% endif %}
    {% if step %}step="{{ step }}"{% endif %}
    {% if survey.response_data|get_attr:name %}value="{{ survey.response_data|get_attr:name }}"{% endif %}
    />
</div>
