{% load filters %}

<div>
  {% if label %}
    <label for="{{ name }}_{{ id }}">{{ label }}</label>
  {% endif %}
  <input
    class="form-control {{ class }}"
    type="text"
    name="{{ name }}"
    id="{{ name }}_{{ id }}"
    {% if size %}size="{{ size}}"{% endif %}
    {% if minlength %}minlength="{{ minlength}}"{% endif %}
    {% if maxlength %}maxlength="{{ maxlength}}"{% endif %}
    {% if placeholder %}placeholder="{{ placeholder}}"{% endif %}
    {% if survey.response_data|get_attr:name %}value="{{ survey.response_data|get_attr:name }}"{% endif %}
    spellcheck=false
    />
</div>
