{% extends 'admin/change_list_object_tools.html' %}
{% load admin_urls %}
                                         
{% block object-tools-items %}
  <li>                                                                                                                                                                                                          
      <a href="{% url 'admin:download_surveys_as_jsonl' %}">Download all survey data as jsonl</a>
  </li> 
  {{ block.super }}                                                                                                                                                                                                 
{% endblock object-tools-items %} 
