<div class="absolute z-10 flex bg-transparent mx-12 mt-[26px] left-0 right-0 font-sans">
  <div class="w-full">
    <nav class="flex justify-between w-100">
      <a href="{% url 'landing' %}" class="text-gnome-light-black text-xl hover:no-underline hover:text-gnome-light-black">
        <strong>GNOME</strong> Development Fund
      </a>

      <div class="flex gap-4 text-gnome-light-black font-sans">
        <ul class="nav-global-nav-links nav-global-dropdown js-nav-global-dropdown flex gap-4 text-lg" id="nav-global-nav-links">
            <li class="nav-item nav-item {% if request.path == '/about/' %}nav-global-link-active{% endif %}">
                <a href="{% url 'flatpage-about' %}">About</a>
            </li>
            <li class="nav-item nav-item {% if request.path == '/grants/' %}nav-global-link-active{% endif %}">
                <a href="{% url 'flatpage-grants' %}">Projects</a>
            </li>
            <li class="nav-item nav-item {% if request.path == '/corporate-memberships/' %}nav-global-link-active{% endif %}">
                <a href="{% url 'flatpage-corporate-memberships' %}">Supporters</a>
            </li>

            <li>
                <form class="max-w-sm mx-auto">
                    <label for="currencies" class="sr-only">Select an option</label>
                    <select id="currencies" style="font-family: 'Inter var' !important;" class="bg-transparent text-gnome-light-black text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500">
                        <option value="EUR" {% if preferred_currency == 'EUR' %}selected="selected"{% endif %}>Euro</option>
                        <option value="USD" {% if preferred_currency == 'USD' %}selected="selected"{% endif %}>USD</option>
                    </select>
                </form>


            </li>
        </ul>

        <ul class="nav-global-links-right flex gap-4">
            {% if user.is_authenticated %}

            <li class="dropdown">
                <a role="button" class="js-dropdown-toggle dropdown-toggle" data-toggle-menu-id="nav-account-dropdown">
                <span><i class="i-user"></i></span>
                <i class="i-chevron-down"></i>
                </a>
                <ul id="nav-account-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-account-dropdown">
                {% if user.is_staff %}
                <li>
                    <a class="dropdown-item is-admin" href="{% url 'admin:index' %}">
                    <i class="i-edit"></i> Whoosh!
                    </a>
                </li>
                <li>
                    <a class="dropdown-item is-admin" href="{% url 'admin:index' %}blender_fund_main/activity/add/">
                    <i class="i-trending"></i> Add New Activity
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'settings_home' %}">
                    <i class="i-user"></i> Settings
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                {% if 'loginas_from_user' in request.session %}
                <li>
                    <a class="dropdown-item" href="{% url 'loginas-logout' %}">
                    <i class="i-log-out"></i> Switch back
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">
                    <i class="i-log-out"></i> Log out
                    </a>
                </li>
                {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if not user.is_authenticated %}
            {% include "blender_fund/_nav_item.html" with name="account_login" title="Log in" %}
            {% endif %}

        </ul>
      </div>
    </nav>
  </div>
</div>
