<div class="bg-white p-[20px] max-w-80 rounded-2xl" id="donation-box">
    <ul role="tablist" aria-orientation="horizontal" class="bg-gnome-bg-gray p-1 rounded-lg flex justify-stretch gap-1">
        <li role="presentation" class="grow flex">
            <button
                id="monthly-tab"
                role="tab"
                type="button"
                aria-controls="monthly"
                aria-selected="true"
                class="rounded text-gnome-light-black font-bold py-1 grow bg-white"
            >
                Monthly
            </button>
        </li>
        <li role="presentation" class="grow flex">
            <button
                id="one-time-tab"
                role="tab"
                type="button"
                aria-controls="one-time"
                aria-selected="false"
                class="rounded text-gnome-light-black font-bold py-1 grow"
            >
                One time
            </button>
        </li>
    </ul>

    <form>
        <input type="hidden" id="donation-currency" name="currencyValue" value="usd" />

        <section id="monthly" class="group" role="tabpanel" aria-labelledby="monthly-tab">
            <fieldset class="grid gap-2 grid-cols-3 my-[20px]" id="monthly-donation">
                <div>
                    <input type="radio" id="monthly-option1" name="monthlyOption" value="5" class="peer sr-only" />
                    <label
                        for="monthly-option1"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-bronze peer-focus:ring ring-gnome-bronze ring-offset-2"
                        ><span data-currency>$</span>5</label
                    >
                </div>
                <div>
                    <input type="radio" id="monthly-option2" name="monthlyOption" value="10" class="peer sr-only" />
                    <label
                        for="monthly-option2"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-gnome-light-black peer-checked:bg-gnome-silver peer-focus:ring ring-gnome-silver ring-offset-2"
                        ><span data-currency>$</span>10</label
                    >
                </div>
                <div>
                    <input
                        type="radio"
                        id="monthly-option3"
                        name="monthlyOption"
                        value="25"
                        class="peer sr-only"
                        checked
                    />
                    <label
                        for="monthly-option3"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-gnome-light-black peer-checked:bg-gnome-gold peer-focus:ring ring-gnome-gold ring-offset-2"
                        ><span data-currency>$</span>25</label
                    >
                </div>
                <div>
                    <input type="radio" id="monthly-option4" name="monthlyOption" value="50" class="peer sr-only" />
                    <label
                        for="monthly-option4"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-gnome-light-black peer-checked:bg-gnome-platinium peer-focus:ring ring-gnome-platinium ring-offset-2"
                        ><span data-currency>$</span>50</label
                    >
                </div>
                <div>
                    <input type="radio" id="monthly-option5" name="monthlyOption" value="100" class="peer sr-only" />
                    <label
                        for="monthly-option5"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-titanium peer-focus:ring ring-gnome-titanium ring-offset-2"
                        ><span data-currency>$</span>100</label
                    >
                </div>
                <div>
                    <input type="radio" id="monthly-option6" name="monthlyOption" value="250" class="peer sr-only" />
                    <label
                        for="monthly-option6"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gradient-to-l from-gnome-gradient-5-0 via-gnome-gradient-5-54 via-54% to-gnome-gradient-5-86 to-86%" peer-focus:ring ring-gnome-diamond ring-offset-2"
                        ><span data-currency>$</span>250</label
                    >
                </div>
            </fieldset>

            <p class="text-gnome-light-black">
                Become a
                <strong
                    class="text-gnome-gold group-[.is-bronze]:text-gnome-bronze group-[.is-silver]:text-gnome-silver group-[.is-platinium]:text-gnome-platinium group-[.is-titanium]:text-gnome-titanium group-[.is-diamond]:text-gnome-diamond"
                    id="tier-name"
                    >Gold</strong
                >
                member
            </p>

            <div class="flex gap-5 mt-[14px] mb-[30px]">
                <div
                    class="rounded-full w-[50px] h-[50px] flex justify-center items-center bg-gnome-gold/30 group-[.is-bronze]:bg-gnome-bronze/30 group-[.is-silver]:bg-gnome-silver/30 group-[.is-platinium]:bg-gnome-platinium/30 group-[.is-titanium]:bg-gnome-titanium/30 group-[.is-diamond]:bg-gradient-to-tl from-gnome-gradient-2-0 via-gnome-gradient-2-54 via-54% to-gnome-gradient-2-86 to-86%"
                    id="badge-container"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xml:space="preserve"
                        viewBox="0 0 4.233 4.233"
                        class="w-[26px] h-[26px]"
                    >
                        <path
                            fill="#e5a50a"
                            d="M3.135.265a1.126 1.183 0 0 0-.795.311L2.112.79 1.885.577A1.129 1.186 0 0 0 .776.333a1.126 1.183 0 0 0-.753.887 1.132 1.189 0 0 0 .359 1.13l1.73 1.619 1.731-1.62a1.132 1.19 0 0 0 .325-1.297A1.13 1.187 0 0 0 3.135.265ZM1.173.883c.087.006.182.045.31.164v.002l.629.59.632-.593v-.004a.53.557 0 0 1 .37-.144c.269.007.411.158.483.367a.53.53 0 0 1-.152.604v.004L2.112 3.122.782 1.876v-.002c-.17-.156-.197-.271-.197-.395s.052-.27.152-.388a.574.574 0 0 1 .349-.204.528.528 0 0 1 .089-.004h-.002Z"
                        />
                    </svg>
                </div>
                <ul id="benefit-list">
                    <li id="membership-badge">
                        <span class="inline-block w-3 h-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 13 13">
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m3.817 6.193 2.275 2.275 4.55-4.549"
                                />
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6.499 11.8c3.019 0 5.467-2.418 5.467-5.4S9.518 1 6.499 1C3.48 1 1.033 3.418 1.033 6.4s2.447 5.4 5.466 5.4Z"
                                />
                            </svg>
                        </span>
                        <span>Membership Badge</span>
                    </li>
                    <li id="website-link" class="hidden">
                        <span class="inline-block w-3 h-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 13 13">
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m3.817 6.193 2.275 2.275 4.55-4.549"
                                />
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6.499 11.8c3.019 0 5.467-2.418 5.467-5.4S9.518 1 6.499 1C3.48 1 1.033 3.418 1.033 6.4s2.447 5.4 5.466 5.4Z"
                                />
                            </svg>
                        </span>
                        <span>Link on the website</span>
                    </li>
                    <li id="website-name">
                        <span class="inline-block w-3 h-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 13 13">
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="m3.817 6.193 2.275 2.275 4.55-4.549"
                                />
                                <path
                                    stroke="#E5A50A"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6.499 11.8c3.019 0 5.467-2.418 5.467-5.4S9.518 1 6.499 1C3.48 1 1.033 3.418 1.033 6.4s2.447 5.4 5.466 5.4Z"
                                />
                            </svg>
                        </span>
                        <span>Name on the website</span>
                    </li>
                </ul>
            </div>

            <div class="flex place-content-center">
                <button
                    role="submit"
                    id="submit-donation-monthly"
                    class="font-bold rounded-full py-3 px-14 rounded-lg-full bg-gnome-gold text-gnome-light-black group-[.is-bronze]:bg-gnome-bronze group-[.is-bronze]:text-white group-[.is-silver]:bg-gnome-silver group-[.is-platinium]:bg-gnome-platinium group-[.is-titanium]:bg-gnome-titanium group-[.is-titanium]:text-white group-[.is-diamond]:bg-gradient-to-l from-gnome-gradient-5-0 via-gnome-gradient-5-54 via-54% to-gnome-gradient-5-86 to-86% group-[.is-diamond]:text-white"
                >
                    Donate Monthly
                </button>
            </div>
        </section>

        <section id="one-time" class="mb-[24px] hidden" role="tabpanel" aria-hidden aria-labelledby="one-time-tab">
            <fieldset class="grid gap-2 grid-cols-3 my-[20px]" id="one-time-donation">
                <div>
                    <input id="one-time-option1" name="oneTimeOption" type="radio" value="5" class="peer sr-only" />
                    <label
                        for="one-time-option1"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>5</label
                    >
                </div>
                <div>
                    <input id="one-time-option2" name="oneTimeOption" type="radio" value="10" class="peer sr-only" />
                    <label
                        for="one-time-option2"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>10</label
                    >
                </div>
                <div>
                    <input id="one-time-option3" name="oneTimeOption" type="radio" value="20" class="peer sr-only" />
                    <label
                        for="one-time-option3"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>20</label
                    >
                </div>
                <div>
                    <input id="one-time-option4" name="oneTimeOption" type="radio" value="25" class="peer sr-only" />
                    <label
                        for="one-time-option4"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>25</label
                    >
                </div>
                <div>
                    <input id="one-time-option5" name="oneTimeOption" type="radio" value="50" class="peer sr-only" />
                    <label
                        for="one-time-option5"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>50</label
                    >
                </div>
                <div>
                    <input id="one-time-option6" name="oneTimeOption" type="radio" value="100" class="peer sr-only" />
                    <label
                        for="one-time-option6"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>100</label
                    >
                </div>
                <div>
                    <input id="one-time-option7" name="oneTimeOption" type="radio" value="150" class="peer sr-only" />
                    <label
                        for="one-time-option7"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>150</label
                    >
                </div>
                <div>
                    <input id="one-time-option8" name="oneTimeOption" type="radio" value="250" class="peer sr-only" />
                    <label
                        for="one-time-option8"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>250</label
                    >
                </div>
                <div>
                    <input id="one-time-option9" name="oneTimeOption" type="radio" value="500" class="peer sr-only" />
                    <label
                        for="one-time-option9"
                        class="block font-bold text-center rounded-lg text-gnome-light-black bg-gnome-bg-gray py-2 peer-checked:text-white peer-checked:bg-gnome-blue peer-focus:ring ring-gnome-blue ring-offset-2"
                        ><span data-currency>$</span>500</label
                    >
                </div>
            </fieldset>

            <div class="relative">
                <input
                    id="custom-amount"
                    name="customAmount"
                    type="number"
                    inputmode="numeric"
                    placeholder="Custom Amount"
                    pattern="[0-9]+"
                    aria-describedby="custom-amount-error"
                    min="1"
                    class="peer font-bold rounded-lg text-gnome-light-black bg-gnome-bg-gray py-1 ps-7 pe-2 w-full invalid:border-red-400 invalid:text-red-400 focus:invalid:ring-red-400 focus:invalid:border-red-400"
                />
                <div
                    class="absolute inset-y-0 start-0 top-0 flex items-center ps-3 pointer-events-none peer-invalid:text-red-400"
                >
                    <span data-currency>$</span>
                </div>
            </div>
            <span id="custom-amount-error" class="block h-5 w-full text-red-400 text-sm"></span>

            <div class="flex place-content-center">
                <button
                    role="submit"
                    id="submit-donation-once"
                    class="bg-gnome-blue text-white font-bold py-3 px-14 rounded-full"
                >
                    Donate Once
                </button>
            </div>
        </section>
    </form>

    <div class="flex place-content-center mt-4">
        <a href="/corporate-memberships" class="text-gnome-light-black underline">Corporate Memberships</a>
    </div>
</div>
