{% extends "blender_fund/layout.html" %}
{% load cache %}
{% load membership_tags %}
{% load looper %}
{% load pipeline %}
{% load filters %}
{% load static %}

{% block page_title %}{% endblock page_title %}

{% block body_classes %}homepage{% endblock body_classes %}

{% block page_header %}

<div class="font-sans relative">
    <div class="absolute inset-0 -z-10 motion-reduce:transition-none transition-opacity bg-gradient-to-tr from-gnome-gradient-1-0 to-gnome-gradient-1-100"></div>
    <div class="absolute inset-0 -z-10 motion-reduce:transition-none transition-opacity opacity-0 group-[.is-diamond]:opacity-100 bg-gradient-to-tr from-gnome-gradient-2-0 via-gnome-gradient-2-54 via-54% to-gnome-gradient-2-86 to-86%"></div>
    <div class="absolute inset-0 -z-10 motion-reduce:transition-none transition-opacity opacity-0 group-[.is-custom]:opacity-100 bg-gradient-to-tr from-gnome-gradient-3-0 via-gnome-gradient-3-51 to-gnome-gradient-3-100 "></div>

    <div class="flex gap-14 px-12 pt-40 pb-16">
        <section class="md:w-1/2">
            <header>
                <h2 class="text-5xl text-gnome-black text-balance font-bold">
                    Support the Future of
                    <strong class="font-semibold">GNOME</strong>
                </h2>
                <p class="text-xl mt-4">Join the Development Fund and support work on core GNOME development.</p>
            </header>
            <div class="mt-9">
                <div>
                    <p class="w-80 py-4 text-4xl mx-auto rounded-full bg-white text-gnome-gold group-[.is-diamond]:text-gnome-diamond group-[.is-custom]:text-gnome-blue text-center font-bold">
                        <span class="currency-symbol">{{ summed_income.currency_symbol }}</span>
                        <span class="js-count-contributions">{{ summed_income.just_whole }}</span>
                    </p>
                    <h5 class="font-bold text-sm text-center text-gnome-light-black mt-1">Monthly Donations</h5>
                </div>
                <div class="flex gap-6 justify-center mt-3">
                    <div>
                        <p class="w-36 py-4 text-2xl rounded-full bg-white text-gnome-gold group-[.is-diamond]:text-gnome-diamond group-[.is-custom]:text-gnome-blue text-center font-bold">
                            <span class="stats-sum js-count">{{ memberships_per_category.INDIV }}</span>
                        </p>
                        <h5 class="font-bold text-sm text-center text-gnome-light-black mt-1">Members</h5>
                    </div>
                    <div>
                        <p class="w-36 py-4 text-2xl rounded-full bg-white text-gnome-gold group-[.is-diamond]:text-gnome-diamond group-[.is-custom]:text-gnome-blue text-center font-bold">
                            <span class="stats-sum js-count">{{ memberships_per_category.CORP }}</span>
                        </p>
                        <h5 class="font-bold text-sm text-center text-gnome-light-black mt-1">Corporate Sponsors</h5>
                    </div>
                </div>
            </div>
        </section>
        <section class="md:w-1/2">
            {% include "blender_fund/donation_box.html" %}
        </section>
    </div>
</div>

{% endblock page_header %}

{% block content %}
{# Add CSRF token hidden field to force the creation of csrf_token in the session #}
{# This way the "change currency" toggle will always work. More info at T76716. #}
{% csrf_token %}

<div class="bg-gnome-light-gray font-sans pt-6 pb-8">
  <section class="mb-16">
    <header class="px-5">
      <h2 class="text-gnome-light-black font-extrabold text-2xl pb-2">Recently Supported Projects</h2>
      <p class="text-gnome-light-black md:w-1/2 text-pretty leading-6">
        In addition to general maintenance we fund work on specific high-ivisibility projects.
        You can directly contribute to funding for specific projects to make them happen sooner.
      </p>
    </header>

    <ul class="grid md:grid-cols-2 2xl:grid-cols-4 gap-5 px-5 my-5">
      <li class="bg-white rounded-2xl p-3">
        <header>
          <div class="flex justify-between">
                <span class="text-gnome-dark-gray font-bold text-sm flex align-items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233 4.233" class="inline-block">
                        <path fill="#77767b" d="M2.12 0a.529.529 0 1 1 .001 1.058.529.529 0 0 1 0-1.058zM.794 1.852h.529V3.97a.265.265 0 0 0 .53 0v-.794a.265.265 0 0 1 .528 0v.794a.265.265 0 0 0 .53 0V1.852h.529a.265.265 0 0 0 0-.53H.794a.265.265 0 0 0 0 .53Zm0 0"/>
                    </svg>

                    Accessibility
                </span>
                <span class="font-semibold text-sm inline-block px-3 py-1 rounded-full min-w-28 text-center bg-gnome-light-blue text-gnome-blue">
                    In Progress
                </span>
          </div>
          <h3 class="text-gnome-light-black font-bold text-xl my-2">Newton A11y Architecture</h3>
        </header>
        <p class="text-gnome-light-black text-pretty leading-6">
            A new architecture for accessibility built for Wayland and sandboxed apps.
        </p>
      </li>

      <li class="bg-white rounded-2xl p-3">
        <header>
          <div class="flex justify-between">
                <span class="text-gnome-dark-gray font-bold text-sm flex align-items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233 4.233" class="inline-block">
                        <path fill="#77767b" d="M2.373 0a.266.266 0 0 0-.216.124L.834 2.241a.266.266 0 0 0-.04.14v.265h.794v1.323c0 .265.348.364.489.14L3.4 1.993a.267.267 0 0 0 .04-.14v-.265h-.794V.265A.265.265 0 0 0 2.373 0zm0 0"/>
                    </svg>


                    Performance
                </span>
                <span class="font-semibold text-sm inline-block px-3 py-1 rounded-full min-w-28 text-center bg-gnome-light-green text-gnome-green">
                    Completed
                </span>
          </div>
          <h3 class="text-gnome-light-black font-bold text-xl my-2">Shell Performance Profiling</h3>
        </header>
        <p class="text-gnome-light-black text-pretty leading-6">
            Automated tooling for profiling in GNOME Shell and Mutter CI to ensure we don't regress in performance.
        </p>
      </li>

      <li class="bg-white rounded-2xl p-3">
        <header>
          <div class="flex justify-between">
                <span class="text-gnome-dark-gray font-bold text-sm flex align-items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233 4.233" class="inline-block">
                            <g fill="#77767b">
                                <path d="M1.324 0c-.273.001-.368.363-.128.495l.13.073v.71c-.035.055-.067.103-.118.189l-.256.452c-.191.343-.412.77-.584 1.083a.84.84 0 0 0 .08.93c.178.238.461.301.694.301h1.95c.232 0 .516-.063.694-.302a.843.843 0 0 0 .08-.929c-.31-.627-.656-1.142-.945-1.719V.569l.13-.074C3.29.363 3.194 0 2.921 0zm.531.53h.535v.821c0 .04.01.08.027.117.319.65.682 1.175.978 1.777v.01c.064.117.068.234-.027.349 0 .003-.01.007-.01.011-.038.053-.129.089-.272.089H1.137c-.143 0-.234-.036-.272-.089 0-.004-.01-.007-.01-.011-.094-.115-.09-.232-.026-.349.17-.312.39-.738.58-1.077a25.1 25.1 0 0 1 .253-.445c.07-.12.13-.215.137-.225a.266.266 0 0 0 .051-.156zm0 0"/>
                                <path d="M1.648 2.382 1.06 3.44h2.121l-.588-1.058zm0 0"/>
                            </g>
                        </svg>

                    Labs
                </span>
                <span class="font-semibold text-sm inline-block px-3 py-1 rounded-full min-w-28 text-center bg-gnome-light-teal text-gnome-teal">
                    Planned
                </span>
          </div>
          <h3 class="text-gnome-light-black font-bold text-xl my-2">Mosaic Window Tiling</h3>
        </header>
        <p class="text-gnome-light-black text-pretty leading-6">
            Reserach, prototyping, and technical ground work towards a new flexible window tiling system.
        </p>
      </li>

      <li class="bg-white rounded-2xl p-3">
        <header>
          <div class="flex justify-between">
                <span class="text-gnome-dark-gray font-bold text-sm flex align-items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233 4.233" class="inline-block">
                        <path fill="#77767b" d="M.397 2.79v.782h1.587v-.794zm.794-1.06v.784h1.852V1.73zm1.058 1.048v.794h1.587v-.794zM3.307 1.72v.794h.53V1.72zM.397.66v.794h1.587V.661Zm0 1.07v.783h.53V1.73zm0 0"/>
                    </svg>

                    Platform
                </span>
                <span class="font-semibold text-sm inline-block px-3 py-1 rounded-full min-w-28 text-center bg-gnome-light-blue text-gnome-blue">
                    In Progress
                </span>
          </div>
          <h3 class="text-gnome-light-black font-bold text-xl my-2">GTK Background Blur</h3>
        </header>
        <p class="text-gnome-light-black text-pretty leading-6">
            Allow GTK widgets to have a frosted glass appearance, blurring the content behind them.
        </p>
      </li>
    </ul>

    <footer class="flex justify-center">
        <a href="#" class="py-2 px-12 bg-gnome-gray text-gnome-light-black rounded-full text-decoration-none">
            All Projects
        </a>
    </footer>
  </section>

  <section class="mb-16">
    <header class="px-5">
      <h2 class="text-gnome-light-black font-extrabold text-2xl pb-2">Supporters</h2>
      <p class="text-gnome-light-black md:w-1/3 text-pretty leading-6">
        Our thanks go out to everyone currently contributing to GNOME on a regular basis. We couldn't do this without you

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 4.233 4.233" class="inline-block">
          <path fill="#ed333b" d="M3.004.53a.967.967 0 0 0-.695.269L2.11.983 1.911.8a.967.967 0 0 0-.97-.204 1.004 1.004 0 0 0-.657.762c-.07.357.05.725.318.965L2.12 3.704l1.51-1.392c.307-.276.418-.717.28-1.112a.992.992 0 0 0-.906-.67Z"/>
        </svg>
      </p>
    </header>
  </section>
</div>

<div class="credits js-fade py-4 bg-gnome-light-gray" id="credits">
  <!-- {% cache 600 credits %} -->
  <div class="container mx-auto">
    <section class="memberships">
      {% for corporate_level in memberships_corporate %}
        {% with level_slug=corporate_level.name|slugify memberships=corporate_level.membership_set.visible %}
          {% if memberships %}
            <div class="membership-level mt-16" id="credits-{{ level_slug }}">
                <h2 class="text-gradient">
                    <a class="section-title" href="#credits-{{ level_slug }}">
                        {{ corporate_level.name }}
                    </a>
                </h2>
              <ul class="{{ level_slug }}">
                {% for m in memberships %}
                  <li>{% membership_credit m %}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
      {% endfor %}

      {% if memberships.Diamond %}
      <div class="membership-level mt-16" id="credits-diamond">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-diamond">
                    Diamond
                </a>
            </h2>
        </div>
        <ul class="diamond flex justify-center gap-10">
          {% for m in memberships.Diamond %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Titanium %}
      <div class="membership-level mt-16" id="credits-titanium">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-titanium">
                    Titanium
                </a>
            </h2>
        </div>
        <ul class="titanium flex justify-center gap-10">
          {% for m in memberships.Titanium %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Platinum %}
      <div class="membership-level mt-16" id="credits-platinum">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-platinum">
                    Platinum
                </a>
            </h2>
        </div>
        <ul class="platinum flex justify-center gap-10">
          {% for m in memberships.Platinum %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Gold %}
      <div class="membership-level mt-16" id="credits-gold">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-gold">
                    Gold
                </a>
            </h2>
        </div>
        <ul class="gold flex justify-center gap-10">
          {% for m in memberships.Gold %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Silver %}
      <div class="membership-level mt-16" id="credits-silver">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-silver">
                    Silver
                </a>
            </h2>
        </div>
        <ul class="silver flex justify-center gap-10">
          {% for m in memberships.Silver %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Bronze %}
      <div class="membership-level mt-16" id="credits-bronze">
        <div class="text-center">
            <h2 class="text-lg font-bold">
                <a class="section-title" href="#credits-bronze">
                    Bronze
                </a>
            </h2>
        </div>
        <ul class="bronze flex justify-center gap-10">
          {% for m in memberships.Bronze %}
          <li class="flex items-center">{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
  <!-- {% endcache %} -->

  <!-- <div class="container">
    <div class="d-flex p-3 align-items-center"><span class="ml-auto pr-3">Select Currency</span>
      <select id="js-currency">
        <option data-currency="EUR" {% if preferred_currency == 'EUR' %}selected="selected"{% endif %}>Euro</option>
        <option data-currency="USD" {% if preferred_currency == 'USD' %}selected="selected"{% endif %}>US Dollar</option>
      </select>
    </div>
  </div> -->
</div>
{% endblock content %}

{% block footer_scripts %}
{% javascript 'looper_currency' %}
<script>
  $('#js-currency').on('change', function(){

  	let currency = (this.options[this.selectedIndex].getAttribute('data-currency'));
  	set_preferred_currency(currency);
  });

  var offsetTop = 280;
  var winHeight = $(window).height();

  window.onresize = function() {
    winHeight = $(window).height();
  }

  $(window).scroll(function (event) {
      var scroll = $(window).scrollTop();
      var $div = $('.js-fade');
      var diff = $div.offset().top - winHeight + offsetTop;

  		var classVisible = 'is-visible';

  		if (!$div.hasClass(classVisible)){
  			$div.addClass(classVisible,
  				scroll >= diff
  			);
  		}
  });

  $(window).resize();
  $(window).scroll();

  $('.js-count-contributions').each(function () {
  	$(this).prop('Counter',1024).animate({
  		Counter: $(this).text()
  	}, {
  		duration: 2500,
  		easing: 'swing',
  		step: function (now) {
  			$(this).text(Math.ceil(now).toLocaleString());
  		}
  	});
  });

  $('.js-count').each(function (e) {
  	$(this).prop('Counter',16).animate({
  		Counter: $(this).text()
  	}, {
  		duration: 2000 - (e * 500),
  		easing: 'swing',
  		step: function (now) {
  			$(this).text(Math.ceil(now));
  		}
  	});
  });

  $('[data-toggle="popover"]').popover();

</script>
  {% javascript 'donation-box' %}
  {% javascript 'donation_box' %}
{% endblock footer_scripts %}
