<!DOCTYPE html>
<head>
  {% load pipeline %}
  {% load static %}

  <meta charset="utf-8">
  <title>{% block page_title %}{% endblock page_title %}Gnome Development Fund</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Gnome Foundation">
  <meta name="theme-color" content="#ed8f31">

  <meta name="description" content="Join the Development Fund and support Gnome Foundation to work on core Gnome development.">
  <meta property="og:site_name" content="Gnome Development Fund">
  <meta property="og:title" content="Gnome Development Fund">
  <meta property="og:description" content="Join the Development Fund and support Gnome Foundation to work on core Gnome development.">
  <meta property="og:url" content="https://fund.blender.org/">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@blender">
  <meta name="twitter:title" content="Gnome Development Fund">
  <meta name="twitter:description" content="Join the Development Fund and support Gnome Foundation to work on core Gnome development.">
  <meta name="twitter:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'blender_fund_main/images/og_thumbnail.jpg' %}">
  <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'blender_fund_main/images/og_thumbnail.jpg' %}">

  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/js.cookie.js' %}"></script>

  {% javascript 'tutti' %}
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'assets/icons/favicon.svg' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/favicon-16x16.png' %}">

  <script defer data-domain="fund.blender.org" src="https://analytics.blender.org/js/script.js"></script>

  {% if settings.GOOGLE_ANALYTICS_TRACKING_ID %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ settings.GOOGLE_ANALYTICS_TRACKING_ID }}');
  </script>
  {% endif %}

  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "gnome-gradient-1-0": "#F7E3B3ff",
            "gnome-gradient-1-100": "#E0EFFBff",
            "gnome-gradient-2-0": "#D3EAF2ff",
            "gnome-gradient-2-54": "#B4A2E5ff",
            "gnome-gradient-2-86": "#E9B6EAff",
            "gnome-gradient-3-0": "#CBF7EAff",
            "gnome-gradient-3-51": "#A7C4F1ff",
            "gnome-gradient-3-100": "#D8E8F8ff",
            "gnome-gradient-4-0": "#CAF8D4ff",
            "gnome-gradient-5-0": "#8AC8DDff",
            "gnome-gradient-5-54": "#6C47CAff",
            "gnome-gradient-5-86": "#DC8ADDff",
            "gnome-light-sky": "#E0EFFBff",
            "gnome-light-blue": "#99c1f1ff",
            "gnome-blue": "#1a5fb4ff",
            "gnome-bronze-light": "#dfd7c9ff",
            "gnome-bronze": "#8c7853ff",
            "gnome-silver": "#c0c0c0ff",
            "gnome-platinium": "#e5e4e2ff",
            "gnome-titanium": "#878681ff",
            "gnome-diamond": "#6d4dcbff",
            "gnome-light-teal": "#70dfebff",
            "gnome-teal": "#208a93ff",
            "gnome-light-green": "#57e389ff",
            "gnome-green": "#1f8556ff",
            "gnome-light-gold": "#F7E3B3ff",
            "gnome-gold": "#E5A50Aff",
            "gnome-light-gray": "#eeeeeeff",
            "gnome-gray": "#d8d7d5ff",
            "gnome-dark-gray": '#9a9996ff',
            "gnome-bg-gray": "#e8e7e5ff",
            "gnome-light-black": "#1f1d24ff",
            "gnome-black": "#0b0a0cff",
          },
          fontFamily: {
            sans: [
              '"Inter var", sans-serif',
              {
                fontFeatureSettings: '"cv11", "ss01"',
                fontVariationSettings: '"opsz" 32'
              },
            ],
          },
        }
      }
    }
  </script>

  {% block head %}{% endblock head %}

  <noscript>
    <style type="text/css">
      .js-fades {opacity: 1 !important; visibility: visible !important}
    </style>
  </noscript>
</head>
<body class="">
  {% block body %}

  {% block navbar %}
    {% block navigation_global %}
    {% include "blender_fund/_navbar.html" %}
    {% endblock navigation_global %}

    {% block navbar_tertiary %}{% endblock navbar_tertiary %}
    {% endblock navbar %}

    {% block page_header %}
    {% endblock page_header %}

    {% if messages %}
    <div class="notice-wrapper">
      {% for message in messages %}
      <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>{% endfor %}
    </div>
    {% endif %}

    <div class="container-main">
      {% block content %}{% endblock content %}
    </div>

    {% block footer %}
    {% include "blender_fund/footer.html" %}
    {% endblock footer %}
  {% endblock body %}

  {% block footer_scripts %}{% endblock footer_scripts %}
  {% javascript 'web-assets' %}
</body>
