{% extends "blender_fund/layout.html" %}
{% load filters %}
{% load static %}


{% block content %}
<div class="container py-1">
  <div class="row mt-5 mb-4">
    <div class="col-md-3">
      <h1 class="m-0">Activity</h1>
    </div>
    <div class="col-md-9 stats-activity-pagination-top">
      {% include "blender_fund_main/components/pagination.html" with page_obj=page_obj %}
    </div>
  </div>

  <div class="stats-activity stats-activity-standalone">
    <ul>
      {% for a in page_obj %}
        <li id="activity-{{ a.id }}" class="a-cat-{{ a.category }} a-membership-cat-{{ a.membership.level.category }}">
          {% if a.membership %}
            <a href="{% url 'looper:checkout_new' a.membership.level.plan.id %}">
              {% if a.membership.level.category == 'CORP' %}
                <img class="a-image" src="{% static 'blender_fund_main/images/badge_corporate.png' %}" alt="{{ a.membership.level }}">
              {% elif a.membership.level.image %}
                <img class="a-image" src="{{ a.membership.level.image.url }}" alt="{{ a.membership.level }}">
              {% else %}
                <i class="i-activity"></i>
              {% endif %}
            </a>
          {% else %}
            <i class="i-activity"></i>
          {% endif %}
          <span class="a-title">
            {% if a.url %}
            <a href="{{ a.url }}" target="_blank">{{ a.display_title }}</a>
            {% else %}
            {{ a.display_title | safe }}
            {% endif %}
          </span>

        <a href="{% url 'activity-list' %}#activity-{{ a.id }}">
          <span class="time" title="{{ a.created_at }}"> {{ a.created_at | naturaltime_compact }}</span>
        </a>

        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}blender_fund_main/activity/{{ a.id }}/change/" class="edit-link">
          <i class="i-edit"></i>
        </a>
        {% endif %}

        {% if a.body or a.url %}
        <div class="a-body">
          {% if a.body %}
          {{ a.body }}
          {% endif %}
          {% if a.url %}
          <br/>
          <a class="btn btn-secondary" href="{{ a.url }}" target="_blank">Read more</a>
          {% endif %}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="mb-3 stats-activity-pagination-top">
    {% include "blender_fund_main/components/pagination.html" with page_obj=page_obj %}
  </div>
</div>
{% endblock content %}
