{% extends "blender_fund/layout.html" %}
{% load membership_tags %}
{% load pipeline %}
{% load filters %}
{% load static %}

{% block page_title %}Thanks &mdash; {% endblock page_title %}

{% block body_classes %}homepage{% endblock body_classes %}

{% block page_header %}
<div class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-subtitle">
        <h2>Thank You</h2>
        <p>
          The following members support Blender Foundation to work on <a href="/about/">core Blender development</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock page_header %}

{% block content %}
{# Add CSRF token hidden field to force the creation of csrf_token in the session #}
{# This way the "change currency" toggle will always work. More info at T76716. #}
{% csrf_token %}
<div class="stats-container">
  <div class="stats-content">
    <div class="stats-intro">
      {% if activity %}
      <div class="stats-activity mt-0 pt-0">
        <h4>
          <a href="{% url 'activity-list' %}">Latest activity</a>
        </h4>
        <ul>
          {% for a in activity %}
          <li class="a-item a-cat-{{ a.category }} a-membership-cat-{{ a.membership.level.category }}">
            <a href="{% url 'activity-list' %}#activity-{{ a.id }}">
              <i class="i-activity pr-1"></i> {{ a.display_title | safe }}
              <span class="time" title="{{ a.created_at }}"> {{ a.created_at | naturaltime_compact }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <a href="{% url 'activity-list' %}">See all <i class="i-chevron-right"></i></a>
      </div>
      {% endif %}
    </div>

    <div class="stats-items">
      <div class="stats-item stats-pos-top">
        <div class="stats-sum"><span class="currency-symbol">{{ summed_income.currency_symbol }}</span><span class="js-count-contributions">{{ summed_income.just_whole }}</span></div>
        <h5 class="stats-sum-name">MONTHLY <br/> CONTRIBUTION</h5>
      </div>
      <div class="stats-item stats-pos-middle stats-size-small">
        <div class="stats-sum js-count">{{ memberships_per_category.INDIV }}</div>
        <h5 class="stats-sum-name">INDIVIDUALS</h5>
      </div>
      <div class="stats-item stats-pos-bottom stats-size-small">
        <div class="stats-sum js-count">{{ memberships_per_category.CORP }}</div>
        <h5 class="stats-sum-name">CORPORATE</h5>
      </div>
    </div>
  </div>
</div>

<div class="credits py-4" id="credits">
  <div class="container">
    <section class="memberships">
      {% if memberships.Patron %}
      <div class="membership-level" id="credits-patron">
        <a class="section-title" href="#credits-patron">
          <h2 class="text-gradient">Patron</h2>
        </a>
        <ul class="patron">
          {% for m in memberships.Patron %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Corporate_Gold %}
      <div class="membership-level" id="credits-corporate-gold">
        <a class="section-title" href="#credits-corporate-gold">
          <h2 class="text-gradient">Corporate Gold</h2>
        </a>
        <ul class="corporate-gold">
          {% for m in memberships.Corporate_Gold %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Corporate_Silver %}
      <div class="membership-level" id="credits-corporate-silver">
        <a class="section-title" href="#credits-corporate-silver">
          <h2 class="text-gradient">Corporate Silver</h2>
        </a>
        <ul class="corporate-silver">
          {% for m in memberships.Corporate_Silver %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Corporate_Bronze %}
      <div class="membership-level" id="credits-corporate-bronze">
        <a class="section-title" href="#credits-corporate-bronze">
          <h2 class="text-gradient">Corporate Bronze</h2>
        </a>
        <ul class="corporate-bronze">
          {% for m in memberships.Corporate_Bronze %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Diamond %}
      <div class="membership-level" id="credits-diamond">
        <a class="section-title" href="#credits-diamond">
          <h2 class="text-gradient">Diamond</h2>
        </a>
        <ul class="diamond">
          {% for m in memberships.Diamond %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Titanium %}
      <div class="membership-level" id="credits-titanium">
        <a class="section-title" href="#credits-titanium">
          <h2 class="text-gradient">Titanium</h2>
        </a>
        <ul class="titanium">
          {% for m in memberships.Titanium %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Platinum %}
      <div class="membership-level" id="credits-platinum">
        <a class="section-title" href="#credits-platinum">
          <h2 class="text-gradient">Platinum</h2>
        </a>
        <ul class="platinum">
          {% for m in memberships.Platinum %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if memberships.Gold %}
      <div class="membership-level" id="credits-gold">
        <a class="section-title" href="#credits-gold">
          <h2 class="text-gradient">Gold</h2>
        </a>
        <ul class="gold">
          {% for m in memberships.Gold %}
          <li>{% membership_credit m %}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>

  <div class="container">
    <div class="d-flex p-3 align-items-center"><span class="ml-auto pr-3">Select Currency</span>
      <select id="js-currency">
        <option data-currency="EUR" {% if preferred_currency == 'EUR' %}selected="selected"{% endif %}>Euro</option>
        <option data-currency="USD" {% if preferred_currency == 'USD' %}selected="selected"{% endif %}>US Dollar</option>
      </select>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_scripts %}
{% javascript 'looper_currency' %}
<script>
  $('#js-currency').on('change', function(){

  	let currency = (this.options[this.selectedIndex].getAttribute('data-currency'));
  	set_preferred_currency(currency);
  });

  var offsetTop = 280;
  var winHeight = $(window).height();

  window.onresize = function() {
    winHeight = $(window).height();
  }

  $('.js-count-contributions').each(function () {
  	$(this).prop('Counter',1024).animate({
  		Counter: $(this).text()
  	}, {
  		duration: 2500,
  		easing: 'swing',
  		step: function (now) {
  			$(this).text(Math.ceil(now).toLocaleString());
  		}
  	});
  });

  $('.js-count').each(function (e) {
  	$(this).prop('Counter',16).animate({
  		Counter: $(this).text()
  	}, {
  		duration: 2000 - (e * 500),
  		easing: 'swing',
  		step: function (now) {
  			$(this).text(Math.ceil(now));
  		}
  	});
  });
</script>
{% endblock footer_scripts %}
