{% comment %}Used during a 'gift for Blender' campaign{% endcomment %}

{% extends "blender_fund/layout.html" %}
{% load pipeline %}
{% load static %}

{% block head %}
{% stylesheet 'campaign' %}
{% endblock head %}

{% block body_classes %}landing-campaign{% endblock %}

{% block page_title %}Thank you! &mdash; {% endblock page_title %}

{% block content %}
<div class="campaign-container">
  <div class="campaign--progress">
    <div id="tooltip">This is a tooltip</div>
    <canvas id="campaign-gifts-pile"></canvas>
  </div>

  <div class="container">
    <div class="row">
      <div class="col is-non-interactive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 is-non-interactive">
        <div class="campaign--message">
          <h1>
            Thank you! <i class="i-heart-filled text-danger"></i>
          </h1>
          {# TODO: Use active campaign's title and badge instead. #}
          <p class="mt-3">
            You should receive an email shortly with instructions on how to
            claim Blender's 30th birthday badge.
          </p>
        </div>
      </div>
      <div class="col-md-6 is-non-interactive">
        <div class="campaign--donation-box">
          <div class="box p-4">
            {% if not form %}
              <p class="text-center m-0">
                Your donations help dozens of people to work on Blender development, online infrastructure and documentation.
              </p>
            {% else %}
              {% include "blender_fund_main/components/form_donate_once_credit.html" %}
            {% endif  %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer_scripts %}
  {% javascript 'donation-campaign' %}
  <script>
    {% if amount %}
      // Run the gift rendering
      loadData().then(() => {
        dropGift(
          [null, {{ amount.cents }}, 'd', 'You', '{{ amount.currency.upper }}'], true);
      });
    {% endif %}
  </script>
  {% if paid_at %}
    {% include "blender_fund_main/components/set_donated_at_cookie.html" %}
  {% endif %}
{% endblock footer_scripts %}

{# Remove footer links. #}
{% block footer %}{% endblock footer %}
