{% extends "blender_fund/empty_page.html" %}

{% block content %}
<div class="checkout-yay-bg py-5 checkout-container">
  <div class="container text-center py-5">
    <h1 class="thanks">
      Thank you {{ user.customer.billing_address.full_name }}! <i class="i-heart text-danger pl-3"></i>
    </h1>
    <div class="lead pt-4">
      Your donations help dozens of people to work on <br>
      Blender development, online infrastructure and documentation.
    </div>
    <div class="checkout-yay py-3">
      <canvas class="fireworks"></canvas>
      <div class="background">
        <div class="stars small"></div>
        <div class="stars medium"></div>
        <div class="stars big"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_scripts %}
  {% include "blender_fund_main/components/fireworks.html" %}
  {% if order.paid_at %}
    {% include "blender_fund_main/components/set_donated_at_cookie.html" with paid_at=order.paid_at|date:"U" %}
  {% endif %}
{% endblock footer_scripts %}
