{% extends "blender_fund/layout.html" %}
{% load pipeline %}

{% block head %}
{% stylesheet 'campaign' %}
{% endblock head %}

{% block body_classes %}landing-campaign{% endblock %}

{% block page_title %}A birthday gift for Blender &mdash; {% endblock page_title %}

{% block content %}
<div class="campaign-container">
  <div class="campaign--progress">
    <div id="tooltip">This is a tooltip</div>
    <canvas id="campaign-gifts-pile"></canvas>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 is-non-interactive">
        <div class="campaign--message">
          <h1>
            <span>Ten thousand</span>
            gifts for Blender!
          </h1>
          <p>
            In the month of December 2023, <br>
            Blender received over 10000 donations!
          </p>
          <p>
            This helps the project to <a href="/about">stay independent</a> <br>
            and develop the best free and open source <br>content creation tools.
          </p>
          <p><a href="{% url 'activity-list' %}">Thank you to everyone who donated.</a></p>
{#          <a href="{% url 'activity-list' %}" id="progress-text">&nbsp;</a>#}
{#          <div id="progress-bar"></div>#}
        </div>
      </div>
      <div class="col-md-6 is-non-interactive">
        <div class="campaign--donation-box">
          {% include "donation-box.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_scripts %}
  {% javascript 'donation-campaign' %}
  <script>
    // Run the gift rendering
    loadData();
  </script>
  {% javascript 'donation-box' %}
{% endblock footer_scripts %}

{# Remove footer links. #}
{% block footer %}{% endblock footer %}
