{% extends "settings/membership_base.html" %}
{% load looper %}
{% load humanize %}

{% block content_settings %}
  <div class="ml-4 mt-2 mb-2">
    <h2>Link Donation</h2>
    <div class="row">
      <div class="col-md-12">
        <p class="mt-2">
          You are going to link this donation of {{ order.price.with_currency_symbol }}
          created on <abbr title="{{ order.created_at }}">{{ order.created_at | date:"Y-m-d" }}</abbr>
          to your account.
        </p>
        <p class="mt-2">
          The receipt for this donation will be listed under Receipts section of your account.
        </p>
        {# TODO: Mention campaign badge if order was made during one #}
        <p class="ml-2">
          <form class="form link-donation-form" method="post">
            {% csrf_token %}
            {% include "blender_fund_main/components/form.html" %}
            <hr/>
            <button class="btn-danger form-submit" id="submit-button" type="submit"><span>Link donation</span></button>
          </form>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
