{% extends "settings/membership_base.html" %}
{% load looper %}
{% load humanize %}

{% block admin_tools %}{# don't show any admin links here #}{% endblock admin_tools %}

{% block after_membership_info %}
{% if user.is_anonymous %}
  <div class="ml-4 mt-2 mb-2">
    <div class="row">
      <div class="col-md-12">
        You need a Blender ID account to manage this membership.
        You can create a new Blender ID account if you don't have one yet.
        <div>
          <a class="btn" href="{{ settings.LOGIN_URL }}">Sign in</a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        To directly cancel your membership, please use the button below.
        <form class="form cancel-membership-form" method="post" action="{{ cancel_url }}">
          {% csrf_token %}
          <button class="btn-danger form-submit" id="submit-button" type="submit"><span>Cancel membership</span></button>
        </form>
      </div>
    </div>
  </div>
{% else %}
  <div class="ml-4 mt-2 mb-2">
    <h3>Link Membership</h3>
    <div class="row">
      <div class="{% if membership.level.badge %}col-md-9{% else %}col-md-12{% endif %}">
        {{ membership.level.badge }}
      </div>
      {% if membership.level.badge %}
        <div class="col-md-3">
          <img class="img-responsive" src="{{ membership.level.badge.url }}"/>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="mt-2">
          <strong>Caution:</strong> multiple billing addresses are not supported, this membership will be updated to use your current billing address.
          You can always change your billing address later, if needed.
        </p>
        <div class="row mt-2">
          <div class="col">
            <h4>Active billing address</h4>
            {{ user.customer.billing_address.email }}
            <br/>
            {{ user.customer.billing_address.as_text | linebreaksbr }}
          </div>
          <div class="col">
            <h4>Membership billing address</h4>
            {{ membership.customer.billing_address.email }}
            <br/>
            {{ membership.customer.billing_address.as_text | linebreaksbr }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form link-membership-form" method="post">
          {% csrf_token %}
          {% include "blender_fund_main/components/form.html" %}
          <hr/>
          <button class="btn-danger form-submit" id="submit-button" type="submit"><span>Link membership</span></button>
        </form>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
