{% extends "blender_fund/layout.html" %}
{% load filters %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container py-1">
  <div class="row mt-5 mb-4">
    <div class="col-md-3">
      <h1 class="m-0">Donations</h1>
    </div>
  </div>

  <form class="form-filter-params mb-3" method='GET' autocomplete=off>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <style>
          input:checked + .form-text {
            display: block !important;
            width: 20rem;
            max-width: 100vw;
          }
        </style>
        <div class="form-group mb-5">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input currency-select" type="radio" value=""
                name="currency" {% if not form.currency.value %}checked{% endif %}>
              All
              <div class="form-text text-muted position-absolute d-none">
                <small>
                  All donations are converted to EUR for simplicity
                </small>
              </div>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input currency-select" type="radio" value="EUR"
                name="currency" {% if form.currency.value == 'EUR' %}checked{% endif %}>
              EUR
              <div class="form-text text-muted position-absolute d-none">
                <small>
                  Only donations in EUR are shown
                </small>
              </div>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label currency-select">
              <input class="form-check-input" type="radio" value="USD"
                name="currency" {% if form.currency.value == 'USD' %}checked{% endif %}>
              USD
              <div class="form-text text-muted position-absolute d-none">
                <small>
                  Only donations in USD are shown
                </small>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 text-right-">
        <div class="form-group date-range">
          <label>
            From&nbsp;
            <input class="form-control" type="date" min="2023-01-01" max="{{ today }}" name="date_after" value="{{ form.date_after.value }}">
          </label>
          <label>
            to&nbsp;
            <input class="form-control" type="date" min="{{ yesterday }}" max="{{ today }}" name="date_before" value="{{ form.date_before.value }}">
          </label>
        </div>
      </div>
    </div>
  </form>

  <h2>Memberships and one-time donations</h2>
  <div class="row">
    <div class="col">
      {% include "looper/components/chart.html" with canSwitchDatasets=True %}
    </div>
  </div>

  <div class="mb-4 text-right">
    {% for total in subtotals %}
      <div class="row">
        <div class="col">
          {{ total.gross_revenue.currency_symbol|default:"&euro;" }}&nbsp;{{ total.gross_revenue.decimals_string|floatformat:2|intcomma }}
          ({{ total.orders_paid }} donations)
        </div>
      </div>
    {% endfor %}
  </div>

  <h2>One-time donations</h2>
  <div class="row">
    <div class="col">
      {% include "looper/components/chart.html" with chart=chart_one_time canSwitchDatasets=True %}
    </div>
  </div>

  <div class="mb-4 text-right">
    {% for total in subtotals_one_time %}
      <div class="row">
        <div class="col">
          {{ total.gross_revenue.currency_symbol|default:"&euro;" }}&nbsp;{{ total.gross_revenue.decimals_string|floatformat:2|intcomma }}
          ({{ total.orders_paid }} one-time donations)
        </div>
      </div>
    {% endfor %}
  </div>

  <h2>New memberships and cancellations</h2>
  <div class="row">
    <div class="col">
      {% include "looper/components/chart.html" with chart=subscription_chart noTotalInTooltip=True %}
    </div>
  </div>

  <hr class="mb-5">

</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const formEl = document.getElementsByClassName('form-filter-params')[0];
    formEl.addEventListener('change', formEl.submit);
  });
</script>
<style>
  /* Make tall tooltip fit vertically into the canvas. */
  .admin-chart-container {
    height: 19rem !important;
    min-height: 19rem;
  }
</style>
{% endblock content %}

{% block footer_scripts %}
{% include "looper/components/chart_scripts.html" %}
{% endblock footer_scripts %}
