{% extends "blender_fund/layout.html" %}
{% load filters %}
{% load pipeline %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="box text-center px-6">
        <h1>No survey at the moment</h1>

        <p>
          We are not running any survey right now, please come back later!
        </p>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}
