{% extends "blender_fund/layout.html" %}
{% load filters %}
{% load pipeline %}

{% block page_title %}Blender Survey 2024 &mdash; {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="box text-center px-6 py-5">
        <h1>Thank you! 🧡</h1>

        <p>
          Your input will help shape the future of Blender.<br>
          Please share this survey if you can.
        </p>

        <hr>

        <p>
          Feel free to go back if you need to make any changes.
        </p>

        <a href="{% url 'survey' %}" class="btn btn-primary px-3">
          <i class="i-chevron-left"></i>
          <span>Back to Survey</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
