{% extends "blender_fund/layout.html" %}
{% load filters %}
{% load pipeline %}

{% block page_title %}Blender Survey 2024{% endblock %}

{% block content %}
{% stylesheet 'choices' %}
<div class="container survey">
<div class="box">
  <h1>Blender Survey 2024</h1>
  <div class="row">
    <div class="col col-md-8 pt-2">
      <p>Blender Foundation announces its first user survey, aimed at getting a picture of the community, and learning about how people connect and get involved as contributors.</p>
      <p>Before you start, some information:</p>
      <ul>
        <li>The survey takes <strong>5-6</strong> minutes to complete.</li>
        <li>All questions are <strong>optional</strong>.</li>
        <li>The survey is open until <strong>October 22nd</strong>.</li>
        <li>Your survey data is linked to this account (<strong>{% firstof user.customer user.username %}</strong>).</li>
        <li>Your data is kept <strong>privately</strong> on the blender.org domain.</li>
        <li>Survey results will be completely <strong>anonymized</strong> when shared publicly.</li>
      </ul>
      <p>
        Your input will help shape the future of Blender.<br>
        Thank you for your time!
      </p>

      {% if survey and survey.response_data %}
      <p>
        <small>You've last submitted this survey <span title="{{ survey.updated_at }}">{{ survey.updated_at|naturaltime_compact }}</span> ago.</small>
      </p>
      {% endif %}
    </div>
  </div>

{% if user.is_staff and survey and survey.response_data %}
<details>
  <summary>Results</summary>
  <ul>
    {% for key, value in survey.response_data.items %}
    <li>{{ key }}: {% if value %}<strong>{{ value }}</strong>{% else %}<span style="color: red">unanswered</span>{% endif %}</li>
    {% endfor %}
  </ul>
</details>
{% endif %}

<hr>
{% with f_radio="blender_fund_main/components/survey_field_radio.html" f_opinion="blender_fund_main/components/survey_field_opinion.html" f_text="blender_fund_main/components/survey_field_text.html" f_textarea="blender_fund_main/components/survey_field_textarea.html" f_multi_option="blender_fund_main/components/survey_field_multi_option.html" f_number="blender_fund_main/components/survey_field_number.html" %}
<form method="post">{% csrf_token %}
  <h2 class="mt-5">Introduction</h2>
  {# source #}
  <div class="box outline">
    <h3>How did you find out about this questionnaire?</h3>
    {% with name="source" %}
      {% include f_radio with name=name id="friends" label="Friends, colleagues, teachers" %}
      {% include f_radio with name=name id="blender-org" label="blender.org" translate="no" %}
      {% include f_radio with name=name id="news-websites" label="News websites (80.lv, BlenderNation, etc)" %}
      {% include f_radio with name=name id="community" label="Community forums" %}
      {% include f_radio with name=name id="youtube" label="YouTube" translate="no" %}
      {% include f_radio with name=name id="twitter" label="X (Twitter)" translate="no" %}
      {% include f_radio with name=name id="discord" label="Discord" translate="no" %}
      {% include f_radio with name=name id="instagram" label="Instagram" translate="no" %}
      {% include f_radio with name=name id="tiktok" label="TikTok" translate="no" %}
      {% include f_radio with name=name id="facebook" label="Facebook" translate="no" %}
      {% include f_radio with name=name id="linkedin" label="LinkedIn" translate="no" %}
      {% include f_radio with name=name id="mastodon" label="Mastodon" translate="no" %}
      {% include f_radio with name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  <h2 class="mt-5">About You</h2>
  {# age #}
  <div class="box outline">
    <h3>How old are you?</h3>
    <div class="radio-horizontal has-7">
      {% with name="user-age" %}
        {% include f_radio with name=name id="group-age-12-less" label="12 or less" %}
        {% include f_radio with name=name id="group-age-13-18" label="13-18" %}
        {% include f_radio with name=name id="group-age-19-25" label="19-25" %}
        {% include f_radio with name=name id="group-age-26-35" label="26-35" %}
        {% include f_radio with name=name id="group-age-36-45" label="36-45" %}
        {% include f_radio with name=name id="group-age-46-65" label="46-65" %}
        {% include f_radio with name=name id="group-age-66-plus" label="66+" %}
      {% endwith %}
    </div>

    {# country #}
    <h3 class="mt-5">Where are you based?</h3>
    {% include "blender_fund_main/components/survey_field_country.html" with name="country" id="user-country" class="js-choices-init" placeholder="Select a country..." %}

  {# language #}
    <h3 class="mt-5">What language do you use for Blender’s interface?</h3>
    {% with name="language" %}
      {% include f_radio with type="checkbox" name=name id="language-tooltips" label="I set the interface to English, but the tooltips are in another language" %}
      <br>
      {% include "blender_fund_main/components/survey_field_language.html" with name="language" id="blender-language" class="js-choices-init" placeholder="Select a language..." %}
    {% endwith %}
  </div>

  {# is_first_app #}
  <div class="box outline">
    <h3>What was your first 3D software?</h3>
    {% with name="is_first_app" %}
      {% include f_radio with name=name id="blender" label="Blender" toggle_section="first_3d_software" toggle_state="off" %}
      {% include f_radio with name=name id="other" label="Other" toggle_section="first_3d_software" toggle_state="on" %}
    {% endwith %}

    {# first_3d_software #}
    <div id="first_3d_software" class="{% if survey.response_data|get_attr:'is_first_app' != 'other' %}is-hidden{% endif %}">
      <h3 class="mt-4">Which 3D software was it?</h3>

      {% with name="multi__first_3d_software" %}
        <select class="js-choices-init" name="{{ name }}" id="{{ name }}" data-placeholder="Select software...">
          {% include f_multi_option with name=name value="" label="--" translate="no" %}
          {% include f_multi_option with name=name value="3dcoat" label="3D Coat" translate="no" %}
          {% include f_multi_option with name=name value="3dsmax" label="Autodesk 3ds Max" translate="no" %}
          {% include f_multi_option with name=name value="alias" label="Autodesk Alias" translate="no" %}
          {% include f_multi_option with name=name value="fusion" label="Autodesk Fusion" translate="no" %}
          {% include f_multi_option with name=name value="maya" label="Autodesk Maya" translate="no" %}
          {% include f_multi_option with name=name value="animate" label="Adobe Animate" translate="no" %}
          {% include f_multi_option with name=name value="autocad" label="AutoCAD" translate="no" %}
          {% include f_multi_option with name=name value="cinema4d" label="Cinema 4D" translate="no" %}
          {% include f_multi_option with name=name value="freecad" label="FreeCAD" translate="no" %}
          {% include f_multi_option with name=name value="houdini" label="Houdini" translate="no" %}
          {% include f_multi_option with name=name value="lightwave" label="Lightwave" translate="no" %}
          {% include f_multi_option with name=name value="modo" label="Modo" translate="no" %}
          {% include f_multi_option with name=name value="nomad" label="Nomad Sculpt" translate="no" %}
          {% include f_multi_option with name=name value="povray" label="POV-Ray" translate="no" %}
          {% include f_multi_option with name=name value="proprietary" label="Proprietary Software" translate="no" %}
          {% include f_multi_option with name=name value="rhino" label="Rhino" translate="no" %}
          {% include f_multi_option with name=name value="sketchup" label="SketchUp" translate="no" %}
          {% include f_multi_option with name=name value="softimage" label="SoftImage" translate="no" %}
          {% include f_multi_option with name=name value="solidworks" label="SolidWorks" translate="no" %}
          {% include f_multi_option with name=name value="truespace" label="TrueSpace" translate="no" %}
          {% include f_multi_option with name=name value="poser" label="Poser" translate="no" %}
          {% include f_multi_option with name=name value="zbrush" label="ZBrush" translate="no" %}
        </select>
        {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
      {% endwith %}
    </div>

    {# first_version #}
    <h3 class="mt-5">Which Blender version did you start with?</h3>
    <div class="radio-horizontal has-7">
      {% with name="first_version" %}
        {% include f_radio with name=name id="v2-4x" label="2.49 or prev." %}
        {% include f_radio with name=name id="v2-5x" label="2.5x" %}
        {% include f_radio with name=name id="v2-7x" label="2.7x" %}
        {% include f_radio with name=name id="v2-8x" label="2.8x" %}
        {% include f_radio with name=name id="v2-9x" label="2.9x" %}
        {% include f_radio with name=name id="v3-x" label="3.x" %}
        {% include f_radio with name=name id="v4-x" label="4.x" %}
      {% endwith %}
    </div>
  </div>

  {# how_often_do_you_use_blender #}
  <div class="box outline">
    <h3>How often do you use Blender?</h3>
    {% with name="how_often_do_you_use_blender" %}
      {% include f_radio with name=name id="daily" label="Daily" %}
      {% include f_radio with name=name id="weekly" label="Weekly" %}
      {% include f_radio with name=name id="monthly" label="Monthly" %}
      {% include f_radio with name=name id="occasionally" label="Occasionally" %}
    {% endwith %}
  </div>

  {# why_blender #}
  <div class="box outline">
    <h3>Why do you use Blender?</h3>
    {% with name="multi__why_blender" %}
      {% include f_radio with type="checkbox" name=name id="is-free" label="It's free" %}
      {% include f_radio with type="checkbox" name=name id="is-opensource" label="It's open source" %}
      {% include f_radio with type="checkbox" name=name id="is-fun" label="It's fun to use" %}
      {% include f_radio with type="checkbox" name=name id="friends" label="My friends/colleagues use it" %}
      {% include f_radio with type="checkbox" name=name id="school-work" label="Because of school/work" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  <h2 class="mt-5" translate="no">Blender</h2>

  {# current_version #}
  <div class="box outline">
    <h3>Which version of Blender do you currently use?</h3>
    {% with name="multi__current_version" %}
      {% include f_radio with type="checkbox" name=name id="v4-x" label="4.x" %}
      {% include f_radio with type="checkbox" name=name id="v3-x" label="3.x" %}
      {% include f_radio with type="checkbox" name=name id="v2-9x" label="2.9x" %}
      {% include f_radio with type="checkbox" name=name id="v2-8x" label="2.8x" %}
      {% include f_radio with type="checkbox" name=name id="v2-7x" label="2.79 or previous" %}
    {% endwith %}

    {# use_blender_lts #}
    <h3 class="mt-5">Do you use Blender LTS?</h3>
    {% with name="use_blender_lts" %}
      {% include f_radio with name=name id="yes-only" label="Yes, LTS only" toggle_section="info_blender_lts" toggle_state="off" %}
      {% include f_radio with name=name id="yes" label="Yes, alongside other releases" toggle_section="info_blender_lts" toggle_state="off" %}
      {% include f_radio with name=name id="no" label="No" toggle_section="info_blender_lts" toggle_state="off" %}
      {% include f_radio with name=name id="dont-know" label="Don't know what that is" toggle_section="info_blender_lts" toggle_state="on" %}
    {% endwith %}

    {# Note: this depends on the question above being 'dont-know'. #}
    <div id="info_blender_lts" class="alert mt-2 pl-2 {% if survey.response_data|get_attr:'use_blender_lts' != 'dont-know' %}is-hidden{% endif %}">
      <div class="d-flex">
        <aside><i class="i-info mr-2"></i></aside>
        <div>
          <p class="mb-0">
            Blender LTS (long-term support) releases feature up to 2 years of support and fixes.
            <a href="https://www.blender.org/download/lts/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
    </div>

    {# use_experimental #}
    <h3 class="mt-5">Do you use experimental builds?</h3>
    {% with name="use_experimental" %}
      {% include f_radio with name=name id="yes" label="Yes" toggle_section="info_blender_experimental" toggle_state="off" %}
      {% include f_radio with name=name id="no" label="No" toggle_section="info_blender_experimental" toggle_state="off" %}
      {% include f_radio with name=name id="dont-know" label="Don't know what that is" toggle_section="info_blender_experimental" toggle_state="on" %}
    {% endwith %}

    {# Note: this depends on the question above being 'dont-know'. #}
    <div id="info_blender_experimental" class="alert mt-2 pl-2 {% if survey.response_data|get_attr:'use_experimental' != 'dont-know' %}is-hidden{% endif %}">
      <div class="d-flex">
        <aside><i class="i-info mr-2"></i></aside>
        <div>
          <p class="mb-0">
            Experimental builds have the latest features and bug fixes, but they can be unstable and break your files.
            <a href="https://builder.blender.org/download/daily/" target="_blank">Learn more</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  {# get_blender_where #}
  <div class="box outline">
    <h3>Where do you get Blender?</h3>

    {% with name="multi__get_blender_where" %}
      <select class="js-choices-init" name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select where...">
        {% include f_multi_option with name=name value="blender-org" label="blender.org" translate="no" %}
        {% include f_multi_option with name=name value="buildbot" label="builder.blender.org" translate="no" %}
        {% include f_multi_option with name=name value="steam" label="Steam" translate="no" %}
        {% include f_multi_option with name=name value="microsoft-store" label="Microsoft Store" translate="no" %}
        {% include f_multi_option with name=name value="snap" label="Snap Store" translate="no" %}
        {% include f_multi_option with name=name value="launchers" label="Launchers" %}
        {% include f_multi_option with name=name value="own-build" label="I build my own" %}
        {% include f_multi_option with name=name value="linux-repo" label="Linux Distro Repositories" %}
      </select>
    {% endwith %}
  </div>

  {# get_blender_news #}
  <div class="box outline">
    <h3>Where do you get Blender news?</h3>

    {% with name="multi__get_blender_news" %}
      {% include f_radio with type="checkbox" name=name id="friends" label="Friends, colleagues, teachers" %}
      {% include f_radio with type="checkbox" name=name id="blender-org" label="blender.org" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="news-websites" label="News websites (80.lv, BlenderNation, etc)" %}
      {% include f_radio with type="checkbox" name=name id="community" label="Community forums" %}
      {% include f_radio with type="checkbox" name=name id="youtube" label="YouTube" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="twitter" label="X (Twitter)" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="discord" label="Discord" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="instagram" label="Instagram" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="tiktok" label="TikTok" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="facebook" label="Facebook" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="linkedin" label="LinkedIn" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="mastodon" label="Mastodon" translate="no" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  {# solve_problems_where #}
  <div class="box outline">
    <h3>How do you solve Blender problems?</h3>

    {% with name="multi__solve_problems_where" %}
      {% include f_radio with type="checkbox" name=name id="manual" label="Read the manual" %}
      {% include f_radio with type="checkbox" name=name id="search-online" label="Search online" %}
      {% include f_radio with type="checkbox" name=name id="developers" label="Get help from the developers" %}
      {% include f_radio with type="checkbox" name=name id="community" label="Ask forums, Discord, or community websites" %}
      {% include f_radio with type="checkbox" name=name id="social-media" label="Ask on social media" %}
      {% include f_radio with type="checkbox" name=name id="ask-ai" label="Ask AI LLMs (e.g. ChatGPT)" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  {# addons_which #}
  <div class="box outline">
    <h3>Which add-ons do you use?</h3>
    <p>Please enter a comma-separated list of the add-ons you use the most.</p>

    <blockquote class="mb-4 bg-white">
      <p>
        You can run the following code inside Blender's text editor.<br>
        This will copy a list of your active add-ons to the clipboard.
      </p>
      <div class="code-container">
        <pre translate="no" id="addons-code" style="font-size: var(--font-size-small)" class="m-0 px-3">
import bpy
enabled_addons = [addon.module for addon in bpy.context.preferences.addons]
addons_string = ", ".join(enabled_addons)
bpy.context.window_manager.clipboard = addons_string</pre>
        <button class="js-copy-btn btn" data-copy-target="addons-code">
          <i class="i-copy"></i>
          <span>Copy</span>
        </button>
      </div>
    </blockquote>

    {% include f_textarea with name="addons_which" id="addons_which_list" label="Add-ons List" placeholder="e.g. node_wrangler" rows=6 maxlength=1000 show_remaining=True %}
    </select>
  </div>

  <h2 class="mt-5">Using Blender</h2>

  {# what_do_you_do #}
  <div class="box outline">
    <h3>What do you do with Blender?</h3>

    {% with name="multi__what_do_you_do" %}
      {% include f_radio with type="checkbox" name=name id="artist" label="Artist" %}
      {% include f_radio with type="checkbox" name=name id="addons-creator" label="Add-ons Creator" %}
      {% include f_radio with type="checkbox" name=name id="asset-creator" label="Asset Creator" %}
      {% include f_radio with type="checkbox" name=name id="designer" label="Designer" %}
      {% include f_radio with type="checkbox" name=name id="developer" label="Developer" %}
      {% include f_radio with type="checkbox" name=name id="entrepreneur" label="Entrepreneur" %}
      {% include f_radio with type="checkbox" name=name id="hobbyist" label="Hobbyist" %}
      {% include f_radio with type="checkbox" name=name id="student" label="Student" %}
      {% include f_radio with type="checkbox" name=name id="researcher" label="Researcher" %}
      {% include f_radio with type="checkbox" name=name id="teacher-trainer" label="Teacher/Trainer" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  {# kind_of_work #}
  <div class="box outline">
    <h3>What kind of work do you do with Blender?</h3>

    {% with name="multi__kind_of_work" %}
      {% include f_radio with type="checkbox" name=name id="advertising-marketing" label="Advertising and Marketing" %}
      {% include f_radio with type="checkbox" name=name id="archviz" label="Architectural Visualization" %}
      {% include f_radio with type="checkbox" name=name id="cad-engineering" label="Computer-Aided Design (CAD) and Engineering" %}
      {% include f_radio with type="checkbox" name=name id="data-visualization" label="Data Visualization" %}
      {% include f_radio with type="checkbox" name=name id="education-elearning" label="Education and E-learning" %}
      {% include f_radio with type="checkbox" name=name id="film-animation" label="Film and Animation" %}
      {% include f_radio with type="checkbox" name=name id="game-dev" label="Game Development" %}
      {% include f_radio with type="checkbox" name=name id="graphic-design" label="Graphic Design" %}
      {% include f_radio with type="checkbox" name=name id="medical-imaging" label="Medical Imaging" %}
      {% include f_radio with type="checkbox" name=name id="scientific-visualization" label="Scientific Visualization" %}
      {% include f_radio with type="checkbox" name=name id="software-development" label="Software Development" %}
      {% include f_radio with type="checkbox" name=name id="ui-ux-design" label="User Interface (UI) and User Experience (UX) Design" %}
      {% include f_radio with type="checkbox" name=name id="vfx" label="Visual Effects (VFX)" %}
      {% include f_radio with type="checkbox" name=name id="vr-ar" label="Virtual Reality (VR) and Augmented Reality (AR)" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  {# work_team #}
  <div class="box outline">
    <h3>Do you work in a team or company that uses Blender?</h3>
    {% with name="work_team" %}
      {% include f_radio with name=name id="no" label="No" %}
      {% include f_radio with name=name id="yes-2-5" label="Yes. 2-5 people" %}
      {% include f_radio with name=name id="yes-6-15" label="Yes. 6-15 people" %}
      {% include f_radio with name=name id="yes-over-15" label="Yes. +15 people" %}
    {% endwith %}
  </div>

  {# companion_software #}
  <div class="box outline">
    <h3>What other software do you use Blender with?</h3>

    {% with name="multi__companion_software" %}
      <select class="js-choices-init" name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select software...">
        {% include f_multi_option with name=name value="3dcoat" label="3D Coat" translate="no" %}
        {% include f_multi_option with name=name value="3dsmax" label="Autodesk 3ds Max" translate="no" %}
        {% include f_multi_option with name=name value="aftereffects" label="Adobe After Effects" translate="no" %}
        {% include f_multi_option with name=name value="illustrator" label="Adobe Illustrator" translate="no" %}
        {% include f_multi_option with name=name value="alias" label="Autodesk Alias" translate="no" %}
        {% include f_multi_option with name=name value="animate" label="Adobe Animate" translate="no" %}
        {% include f_multi_option with name=name value="affinity" label="Affinity Software" translate="no" %}
        {% include f_multi_option with name=name value="autocad" label="AutoCAD" translate="no" %}
        {% include f_multi_option with name=name value="cascadeur" label="Cascadeur" translate="no" %}
        {% include f_multi_option with name=name value="cinema4d" label="Cinema 4D" translate="no" %}
        {% include f_multi_option with name=name value="clipstudio" label="Clip Studio Paint" translate="no" %}
        {% include f_multi_option with name=name value="daz3d" label="Daz 3D" translate="no" %}
        {% include f_multi_option with name=name value="embergen" label="EmberGen" translate="no" %}
        {% include f_multi_option with name=name value="liquigen" label="LiquiGen" translate="no" %}
        {% include f_multi_option with name=name value="geogen" label="GeoGen" translate="no" %}
        {% include f_multi_option with name=name value="freecad" label="FreeCAD" translate="no" %}
        {% include f_multi_option with name=name value="fusion" label="Autodesk Fusion" translate="no" %}
        {% include f_multi_option with name=name value="gimp" label="GIMP" translate="no" %}
        {% include f_multi_option with name=name value="godot" label="Godot" translate="no" %}
        {% include f_multi_option with name=name value="houdini" label="Houdini" translate="no" %}
        {% include f_multi_option with name=name value="inkscape" label="Inkscape" translate="no" %}
        {% include f_multi_option with name=name value="krita" label="Krita" translate="no" %}
        {% include f_multi_option with name=name value="mari" label="Mari" translate="no" %}
        {% include f_multi_option with name=name value="marvelous" label="Marvelous Designer" translate="no" %}
        {% include f_multi_option with name=name value="maya" label="Autodesk Maya" translate="no" %}
        {% include f_multi_option with name=name value="modo" label="Modo" translate="no" %}
        {% include f_multi_option with name=name value="moho" label="Moho" translate="no" %}
        {% include f_multi_option with name=name value="nomad" label="Nomad Sculpt" translate="no" %}
        {% include f_multi_option with name=name value="nuke" label="Nuke" translate="no" %}
        {% include f_multi_option with name=name value="opentoonz" label="OpenToonz" translate="no" %}
        {% include f_multi_option with name=name value="painttool-sai" label="PaintTool SAI" translate="no" %}
        {% include f_multi_option with name=name value="pencil2d" label="Pencil2D" translate="no" %}
        {% include f_multi_option with name=name value="photoshop" label="Adobe Photoshop" translate="no" %}
        {% include f_multi_option with name=name value="poser" label="Poser" translate="no" %}
        {% include f_multi_option with name=name value="premiere" label="Adobe Premiere" translate="no" %}
        {% include f_multi_option with name=name value="procreate" label="Procreate" translate="no" %}
        {% include f_multi_option with name=name value="proprietary" label="Proprietary Software" translate="no" %}
        {% include f_multi_option with name=name value="quixel-mixer" label="Quixel Mixer" translate="no" %}
        {% include f_multi_option with name=name value="resolve" label="DaVinci Resolve" translate="no" %}
        {% include f_multi_option with name=name value="rhino" label="Rhino" translate="no" %}
        {% include f_multi_option with name=name value="sketchup" label="SketchUp" translate="no" %}
        {% include f_multi_option with name=name value="solidworks" label="SolidWorks" translate="no" %}
        {% include f_multi_option with name=name value="substance" label="Adobe Substance" translate="no" %}
        {% include f_multi_option with name=name value="synfig" label="Synfig" translate="no" %}
        {% include f_multi_option with name=name value="toonboom" label="Toon Boom Harmony" translate="no" %}
        {% include f_multi_option with name=name value="tvpaint" label="TVPaint" translate="no" %}
        {% include f_multi_option with name=name value="unity" label="Unity" translate="no" %}
        {% include f_multi_option with name=name value="unreal" label="Unreal Engine" translate="no" %}
        {% include f_multi_option with name=name value="zbrush" label="ZBrush" translate="no" %}
      </select>
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>


  {# use_version_control #}
  {# Note: these radio toggle section: version_control_software #}
  <div class="box outline">
    <h3>Do you use version control software when working on Blender projects?</h3>
    {% with name="use_version_control" %}
      {% include f_radio with name=name id="yes" label="Yes" toggle_section="version_control_software" toggle_state="on" %}
      {% include f_radio with name=name id="no" label="No" toggle_section="version_control_software" toggle_state="off" %}
      {% include f_radio with name=name id="dont-know" label="Don't know what that is" toggle_section="version_control_software" toggle_state="off" %}
    {% endwith %}

    {# version_control_software #}
    {# Note: this depends on the question above being 'yes'. #}
    <div id="version_control_software" class="{% if survey.response_data|get_attr:'use_version_control' != 'yes' %}is-hidden{% endif %}">
      <h3 class="mt-4">Which version control software do you use?</h3>

      {% with name="multi__version_control_software" %}
        <select class="js-choices-init" name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select version control software...">
          {% include f_multi_option with name=name value="dropbox" label="Dropbox" translate="no" %}
          {% include f_multi_option with name=name value="git" label="Git" translate="no" %}
          {% include f_multi_option with name=name value="gitlfs" label="Git LFS" translate="no" %}
          {% include f_multi_option with name=name value="google-drive" label="Google Drive" translate="no" %}
          {% include f_multi_option with name=name value="mercurial" label="Mercurial" translate="no" %}
          {% include f_multi_option with name=name value="perforce" label="Perforce" translate="no" %}
          {% include f_multi_option with name=name value="svn" label="Subversion (SVN)" translate="no" %}
        </select>
        {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
      {% endwith %}
    </div>
  </div>

  <h2 class="mt-5">Money Talk</h2>

  {# do_you_make_money #}
  {# Note: these radio toggle section: how_you_make_money #}
  <div class="box outline">
    <h3>Do you make money with Blender?</h3>
    {% with name="do_you_make_money" %}
      {% include f_radio with name=name id="no" label="No" toggle_section="how_you_make_money" toggle_state="off" %}
      {% include f_radio with name=name id="yes-little" label="Yes, a little" toggle_section="how_you_make_money" toggle_state="on" %}
      {% include f_radio with name=name id="yes-business" label="Yes, I have a sustainable business" toggle_section="how_you_make_money" toggle_state="on" %}
      {% include f_radio with name=name id="yes-employed" label="Yes, I am employed to use Blender" toggle_section="how_you_make_money" toggle_state="on" %}
    {% endwith %}

    {# how_you_make_money #}
    {# Note: this depends on the question above being 'yes'. #}
    <div id="how_you_make_money" class="{% if survey.response_data|get_attr:'do_you_make_money' != 'yes' %}is-hidden{% endif %}">
      <h3 class="mt-4">How do you make money with Blender?</h3>
      {% with name="multi__how_you_make_money" %}
        {% include f_radio with type="checkbox" name=name id="addons" label="Add-ons development" %}
        {% include f_radio with type="checkbox" name=name id="blender" label="Blender development" %}
        {% include f_radio with type="checkbox" name=name id="assets" label="Assets creation" %}
        {% include f_radio with type="checkbox" name=name id="training" label="Education (teaching/courses/tutorials)" %}
        {% include f_radio with type="checkbox" name=name id="content-creator" label="Content creator on social media" %}
        {% include f_radio with type="checkbox" name=name id="artist" label="Artist" %}
        {% include f_radio with type="checkbox" name=name id="pipeline-tools" label="Pipeline and tools development" %}
        {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
      {% endwith %}
    </div>

    {# spent_on_products #}
    <h3 class="mt-5">How much did you spend on Blender add-ons in the past year? (in {{ preferred_currency }})</h3>
    <div class="radio-horizontal has-4">
      {% with name="spent_on_products" %}
        {% include f_radio with name=name id="nothing" label="Nothing" %}
        {% include f_radio with name=name id="hundred_or_less" label="100 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_less" label="300 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_more" label="More than 300 "|add:preferred_currency %}
      {% endwith %}
    </div>

    <hr>
    {# spent_on_assets #}
    <h3 class="mt-4">How much did you spend on assets in the past year? (in {{ preferred_currency }})</h3>
    <div class="radio-horizontal has-4">
      {% with name="spent_on_assets" %}
        {% include f_radio with name=name id="nothing" label="Nothing" %}
        {% include f_radio with name=name id="hundred_or_less" label="100 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_less" label="300 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_more" label="More than 300 "|add:preferred_currency %}
      {% endwith %}
    </div>

    <hr>
    {# spent_on_software #}
    <h3 class="mt-4">How much did you spend on other software in the past year? (in {{ preferred_currency }})</h3>
    <div class="radio-horizontal has-4">
      {% with name="spent_on_software" %}
        {% include f_radio with name=name id="nothing" label="Nothing" %}
        {% include f_radio with name=name id="hundred_or_less" label="100 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_less" label="300 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_more" label="More than 300 "|add:preferred_currency %}
      {% endwith %}
    </div>

    <hr>
    {# spent_on_education_training #}
    <h3 class="mt-4">How much did you spend on Blender education or training in the past year? (in {{ preferred_currency }})</h3>
    <div class="radio-horizontal has-4">
      {% with name="spent_on_education_training" %}
        {% include f_radio with name=name id="nothing" label="Nothing" %}
        {% include f_radio with name=name id="hundred_or_less" label="100 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_less" label="300 "|add:preferred_currency|add:" or less" %}
        {% include f_radio with name=name id="three_hundred_or_more" label="More than 300 "|add:preferred_currency %}
      {% endwith %}
    </div>

  </div>

  <h2 class="mt-5">Blender Development</h2>

  {# how_satisfied_dev_pace #}
  <div class="box outline">
    <h3>How satisfied are you with the following topics?</h3>
    <hr>

    {% with name="how_satisfied_dev_pace" %}
      <h3>Pace of Development</h3>
      {% include f_opinion with name=name %}
    {% endwith %}

    <hr>

    {% with name="how_satisfied_dev_direction" %}
      <h3>Development Direction</h3>
      {% include f_opinion with name=name %}
    {% endwith %}

    <hr>

    {% with name="how_satisfied_development_team" %}
      <h3>Development Team</h3>
      {% include f_opinion with name=name %}
    {% endwith %}

    <hr>

    {% with name="how_satisfied_communication" %}
      <h3>Communication</h3>
      {% include f_opinion with name=name %}
    {% endwith %}


    {# how_satisfied_feedback #}
    <h3 class="mt-5">Do you have additional feedback on Blender development?</h3>
    {% with name="how_satisfied_feedback" %}
      {% include f_textarea with name=name id="how_satisfied_feedback_reason" label="Feedback" placeholder="e.g. The following topics could be improved..." rows=4 maxlength=400 show_remaining=True %}
    {% endwith %}

  </div>

  {# which_area_to_focus #}
  <div class="box outline">
    <h3>Which area would you like Blender to focus on? Pick up to 3 areas.</h3>

    {% with name="multi__which_area_to_focus" %}
      <select class="js-choices-init" data-max-choices='3' name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select 3 areas...">
        {% include f_multi_option with name=name value="animation" label="Animation" %}
        {% include f_multi_option with name=name value="assets" label="Asset System" %}
        {% include f_multi_option with name=name value="bug-fixing" label="Bug Fixing/Stability" %}
        {% include f_multi_option with name=name value="compositor" label="Compositor" %}
        {% include f_multi_option with name=name value="cycles" label="Cycles" %}
        {% include f_multi_option with name=name value="eevee" label="EEVEE" %}
        {% include f_multi_option with name=name value="geometry-nodes" label="Geometry Nodes" %}
        {% include f_multi_option with name=name value="greasepencil" label="Grease Pencil" %}
        {% include f_multi_option with name=name value="modeling" label="Modeling" %}
        {% include f_multi_option with name=name value="motiontracking" label="Motion Tracking" %}
        {% include f_multi_option with name=name value="paint" label="Texture Painting" %}
        {% include f_multi_option with name=name value="physics" label="Physics" %}
        {% include f_multi_option with name=name value="pipeline" label="Pipeline and I/O" %}
        {% include f_multi_option with name=name value="python-api" label="Python API" %}
        {% include f_multi_option with name=name value="rigging" label="Rigging" %}
        {% include f_multi_option with name=name value="sculpt" label="Sculpt" %}
        {% include f_multi_option with name=name value="sequencer" label="Video Sequencer" %}
        {% include f_multi_option with name=name value="ui" label="User Interface" %}
        {% include f_multi_option with name=name value="uv" label="UV Editing" %}
      </select>
    {% endwith %}

    {# which_project_to_focus #}
    <h3 class="mt-5">Which project would you like Blender to focus on? Pick up to 3 projects.</h3>
    {% with name="multi__which_project_to_focus" %}
      <select class="js-choices-init" data-max-choices='3' name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select 3 projects...">
        {% include f_multi_option with name=name value="animation-rigging-tools" label="Next generation animation and rigging tools" %}
        {% include f_multi_option with name=name value="baking-tools" label="Baking Tools" %}
        {% include f_multi_option with name=name value="interactive-mode" label="Interactive Mode (real-time)" %}
        {% include f_multi_option with name=name value="online_asset-repos" label="Online Asset Repositories" %}
        {% include f_multi_option with name=name value="texturing-tools" label="Texturing Tools" %}
        {% include f_multi_option with name=name value="touch" label="Blender on Touch/Pen Devices (iPad, Wacom tablet, etc.)" %}
        {% include f_multi_option with name=name value="ar-vr" label="Blender on AR/VR Devices" %}
        {% include f_multi_option with name=name value="complexity" label="Complex Scene Support" %}
        {% include f_multi_option with name=name value="usd" label="Full USD Interoperability" %}
        {% include f_multi_option with name=name value="story-tools" label="Storyboarding and Editorial Tools" %}
        {% include f_multi_option with name=name value="stylized-rendering" label="Stylized Rendering (NPR)" %}
        {% include f_multi_option with name=name value="benchmark" label="Benchmarking and Open Data" %}
        {% include f_multi_option with name=name value="nurbs-modeling" label="NURBS modeling tools" %}
        {% include f_multi_option with name=name value="sdf-modeling" label="SDF modeling tools" %}
        {% include f_multi_option with name=name value="color-management-improvements" label="Improve color management (ACES, HDR, etc)" %}
      </select>
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}

    {# which_research_to_focus #}
    <h3 class="mt-5">Which research topic would you like Blender to focus on? Pick up to 3 topics.</h3>
    {% with name="multi__which_research_to_focus" %}
      <select class="js-choices-init" data-max-choices='3' name="{{ name }}" id="{{ name }}" multiple data-placeholder="Select 3 projects...">
        {% include f_multi_option with name=name value="apps" label="Apps (experiences powered by Blender)" %}
        {% include f_multi_option with name=name value="online-collaboration" label="Distributed, online collaboration" %}
        {% include f_multi_option with name=name value="computer-vision" label="Computer Vision (dense reconstuction, enhanced motion tracking, gaussian splatting,  etc.)" %}
        {% include f_multi_option with name=name value="ml-ai" label="Machine Learning and AI (tools to improve artistic worflows)" %}
        {% include f_multi_option with name=name value="virtual-production" label="Virtual Production" %}
        {% include f_multi_option with name=name value="rendering" label="Rendering techonologies" %}
      </select>
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  <h2 class="mt-5">Contributing to Blender</h2>

  {# contributing #}
  <div class="box outline">
    <h3>How do you contribute to the Blender project?</h3>
    {% with name="multi__contributing" %}
      {% include f_radio with type="checkbox" name=name id="donations" label="I donate to Blender Foundation" %}
      {% include f_radio with type="checkbox" name=name id="reporting" label="Reporting Bugs" %}
      {% include f_radio with type="checkbox" name=name id="triaging" label="Triaging" %}
      {% include f_radio with type="checkbox" name=name id="translations" label="Translations" %}
      {% include f_radio with type="checkbox" name=name id="documentation" label="Documentation (Blender manual)" %}
      {% include f_radio with type="checkbox" name=name id="development" label="Blender Development (not add-ons)" %}
      {% include f_radio with type="checkbox" name=name id="extensions" label="I publish extensions on extensions.blender.org" %}
      {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
    {% endwith %}
  </div>

  <h2 class="mt-5">The Freedom to Create</h2>

  {# blender_stands_up_for_artists_right #}
  <div class="box outline">
    <h3>Blender stands up for artists rights.</h3>
    {% with name="blender_stands_up_for_artists_right" %}
      {% include f_opinion with name=name positive="Agree" negative="Disagree" modifier="Strongly" %}
    {% endwith %}
  </div>

  {# have_you_ever_donated #}
  {# Note: these radio toggle section: how_did_you_donate #}
  <div class="box outline">
    <h3>Have you donated to the Blender Foundation in the past year?</h3>
    {% with name="have_you_ever_donated" %}
      {% include f_radio with name=name id="yes" label="Yes" toggle_section="how_did_you_donate" toggle_state="on" %}
      {% include f_radio with name=name id="no" label="No" toggle_section="how_did_you_donate" toggle_state="off" %}
      {% include f_radio with name=name id="no-cant-afford" label="No, but I want to." toggle_section="how_did_you_donate" toggle_state="off" %}
      {% include f_radio with name=name id="no-donate-others" label="No, I donated to others." toggle_section="how_did_you_donate" toggle_state="off" %}
    {% endwith %}

    {# how_did_you_donate #}
    {# Note: this depends on the question above being 'yes'. #}
    <div id="how_did_you_donate" class="{% if survey.response_data|get_attr:'have_you_ever_donated' != 'yes' %}is-hidden{% endif %}">

      <h3 class="mt-4">How much did you donate?</h3>
      <div class="radio-horizontal has-4">
        {% with name="how_much_did_you_donate" %}
          {% include f_radio with name=name id="ten_or_less" label="10 "|add:preferred_currency|add:" or less" %}
          {% include f_radio with name=name id="hundred_or_less" label="100 "|add:preferred_currency|add:" or less" %}
          {% include f_radio with name=name id="three_hundred_or_less" label="300 "|add:preferred_currency|add:" or less" %}
          {% include f_radio with name=name id="three_hundred_or_more" label="More than 300 "|add:preferred_currency %}
        {% endwith %}
      </div>

      <h3 class="mt-4">How did you donate?</h3>
      {% with name="multi__how_did_you_donate" %}
        {% include f_radio with type="checkbox" name=name id="donated-once" label="One-time donation" %}
        {% include f_radio with type="checkbox" name=name id="devfund" label="Development Fund Membership" %}
        {% include f_radio with type="checkbox" name=name id="marketplace" label="Via content purchased on marketplaces" %}
        {% include f_radio with type="checkbox" name=name id="other" label="Other" is_other=True %}
      {% endwith %}
    </div>

    {# how_could_bf_collect_donations #}
    <h3 class="mt-4">How could Blender Foundation collect more donations?</h3>
    {% with name="how_could_bf_collect_donations" %}
    {% include f_textarea with name=name id="addons_which_list" placeholder="e.g. Selling merch, assets, etc." label="Donation ideas" rows=4 maxlength=400 show_remaining=True %}
    {% endwith %}
  </div>

  {# how_happy #}
  <div class="box outline">
    <h3>How happy are you with Blender?</h3>
    {% with name="how_happy" %}
      {% include f_opinion with name=name positive="Happy" negative="Unhappy" modifier="Very" %}
    {% endwith %}
  </div>

  <hr>

  <div class="btn-row justify-content-center">
    <button type="submit" class="btn btn-primary px-6">
      <i class="i-check"></i>
      Submit Survey
    </button>
  </div>
</form>
</div>
</div>
{% endwith %}

{% javascript 'choices' %}
<script>
  {# Initialize Choices. #}
  let choiceElements = document.querySelectorAll('.js-choices-init');

  {# Prevent translation of certain Choices fields. #}
  function choicesPreventTranslation(choiceElement) {
    // Find all child elements that have the 'translate="no"' attribute.
    const noTranslateItems = choiceElement.querySelectorAll('[translate="no"]');

    noTranslateItems.forEach(noTranslateItem => {
      const value = noTranslateItem.getAttribute('value');

      if (value) {
        // Find the most recent parent with the class 'choices'.
        let parent = noTranslateItem;
        while (parent && !parent.classList.contains('choices')) {
          parent = parent.parentElement;
        }

        if (parent) {
          // Find elements created by Choice, that match the value set in the original markup.
          const matchingElements = parent.querySelectorAll(`.choices__item[data-value="${value}"]`);

          // Add the 'notranslate' class to each matching element.
          matchingElements.forEach(matchingElement => {
            matchingElement.classList.add('notranslate');
            matchingElement.setAttribute('translate', 'no');
          });
        }
      }
    });
  }

  choiceElements.forEach(choiceElement => {
    let maxChoices = choiceElement.getAttribute('data-max-choices');
    if (!maxChoices) {
      maxChoices = -1;
    }

    let choices = new Choices(choiceElement, {
      removeItemButton: true,
      maxItemCount: maxChoices,
    });

    choicesPreventTranslation(choiceElement);

    choiceElement.addEventListener(
      'change',
      function(event) {
        choicesPreventTranslation(event.srcElement);
      },
      false,
    );
  });

  /* Copy to clipboard. */
  document.querySelectorAll('.js-copy-btn').forEach(button => {
    button.addEventListener('click', function(e) {
      e.preventDefault();

      const targetId = button.getAttribute('data-copy-target');
      const copyElement = document.getElementById(targetId);

      if (copyElement) {
        navigator.clipboard.writeText(copyElement.textContent);
      }
    });
  });

  /* Show/hide other elements like 'other' fields or entire sections . */
  document.querySelectorAll('.js-toggle-element').forEach(el => {
    el.addEventListener('click', function(e) {
      if (e.target.tagName != 'INPUT') {
        e.preventDefault();
      }

      // Find the first input field (radio or checkbox).
      const inputField = e.currentTarget.querySelector('input');
      const type       = inputField.getAttribute('type');
      const name       = inputField.getAttribute('name');

      // Radio are exclusive. Remove checked status from all
      // other radio inputs under the same name.
      if (type == 'radio') {
        document.querySelectorAll('[name="' + name + '"]').forEach(other => {
          other.removeAttribute('checked');
          other.checked = false;

          // Hide the 'other' field if visible.
          if (other.parentElement.hasAttribute('data-toggle-other')) {
              const toggleTarget  = other.parentElement.getAttribute('data-toggle-other');
              const toggleElement = document.getElementById(toggleTarget);
              if (!toggleTarget || !toggleElement) { return;}

              // Clear the content of the field, so that we don't get
              // false data of fields that were filled but then hidden.
              const otherField = toggleElement.querySelector('input');
              otherField.value = '';

              toggleElement.classList.remove('is-visible');
              toggleElement.classList.add('is-hidden');
          }
        });
      }

      // Toggle the status of the input field as checked or not.
      if (type == 'radio' && inputField.hasAttribute('checked')) {
        inputField.checked = true;
        inputField.setAttribute('checked', 'checked');
      } else if (inputField.hasAttribute('checked')) {
        inputField.checked = false;
        inputField.removeAttribute('checked');
      } else {
        inputField.checked = true;
        inputField.setAttribute('checked', 'checked');
      }

      // Toggle the "other" field.
      if (e.currentTarget.hasAttribute('data-toggle-other')){
        const toggleTarget  = el.getAttribute('data-toggle-other');
        const toggleElement = document.getElementById(toggleTarget);
        if (!toggleTarget || !toggleElement) { return;}

        const otherField = toggleElement.querySelector('input');
        otherField.value = '';

        if (!toggleElement.classList.contains('is-visible')) {
          toggleElement.classList.add('is-visible');
          toggleElement.classList.remove('is-hidden');
        } else {
          toggleElement.classList.remove('is-visible');
          toggleElement.classList.add('is-hidden');
        }
      }

      // Toggle another section.
      if (e.currentTarget.hasAttribute('data-toggle-section')){
        const toggleTarget  = el.getAttribute('data-toggle-section');
        const toggleElement = document.getElementById(toggleTarget);
        if (!toggleTarget || !toggleElement) { return;}

        const toggleState   = el.getAttribute('data-toggle-state');

        if (toggleState == 'off') {
          toggleElement.classList.remove('is-visible');
          toggleElement.classList.add('is-hidden');
        } else {
          toggleElement.classList.add('is-visible');
          toggleElement.classList.remove('is-hidden');
        }
      }
    });
  });

  // Textarea character counters.
  const textareas = document.querySelectorAll('.js-textarea');
  const charCountSpans = document.querySelectorAll('.js-textarea-char-count');

  function updateRemainingChars(textarea, charCountSpan) {
    const maxLength = textarea.getAttribute('maxlength');
    const remainingChars = maxLength - textarea.value.length;
    charCountSpan.textContent = remainingChars;
  }

  textareas.forEach((textarea, index) => {
    const charCountSpan = charCountSpans[index];

    // Calculate remaining chars on page load.
    updateRemainingChars(textarea, charCountSpan);

    // Update count as the user types.
    textarea.addEventListener('input', () => {
      updateRemainingChars(textarea, charCountSpan);
    });
  });
</script>
{% endblock content %}
