ul#id_gateway
	+list-unstyled

	> li
		@extend .mb-4

		> label input,
			@extend .mr-2

	.gateway-options
		@extend .ml-2


.braintree-heading
	color: white

.braintree-sheet__header
	border: none
	color: black

.braintree-upper-container,
.braintree-upper-container:before
	border-radius: var(--border-radius)
	background-color: rgba(white, .5)

.braintree-options-list
	padding: 0

.braintree-sheet,
.braintree-form__hosted-field,
.braintree-large-button
	border-radius: var(--border-radius)

.braintree-option
	background-color: rgba(white, .8)
	transition: background-color var(--transition-speed)

	&:first-child
		border-top-right-radius: var(--border-radius)
		border-top-left-radius: var(--border-radius)

	&:last-child
		border-bottom-right-radius: var(--border-radius)
		border-bottom-left-radius: var(--border-radius)
