.form
	> li
		@extend .d-flex
		@extend .flex-column
		@extend .pb-3

	.field-checkbox
		@extend .flex-row

	.field-half_size
		float: left
		width: 50%

	.field-full_size
		+clearfix
		width: 100%

		input
			width: 100%

	> li
		&:after
			display: none

		&.field
			&-region, // .field-region
			&-locality, // .field-locality
			&-country, // .field-country
			&-postal_code // .field-postal_code
				@extend .field-half_size

			&-country, // .field-country
			&-postal_code // .field-postal_code
				@extend .pl-3

			&-region,
			&-billing_email,
			&-vat_number
				+clearfix

			&-locality
				width: 70%
			&-postal_code
				width: 30%
			&-vat_number
				width: 50%

			&-country
				select
					float: left

				img
					float: right

			// Make some room on the right for the + button
			// to display extended address. (style is .field-more)
			&-street_address
				@extend .field-full_size

				input
					padding-right: 50px

			&-extended_address
				@extend .field-full_size
				@extend .d-none

			&-tax_exempt,
			&-is_private
				@extend .field-checkbox
				input[type="checkbox"]
					@extend .ml-3
			&-gateway_pk,
			&-gateway
				+clearfix
				ul
					padding-left: 0
					li::after
						content: ""
				.gateway-options
					margin-left: 30px

		&.show
			@extend .d-block

		// Buttons to show/hide more fields.
		.field-more-fields
			color: rgba(white, .5)
			cursor: pointer
			+padding(2, top)
			text-align: right

			&.active
				color: white !important

		.field-more-billing_address
			+clearfix
			border-radius: 6px
			cursor: pointer
			float: right
			padding: 35px 20px
			position: absolute
			right: 0

			&.active
				color: var(--color-success)

	.helptext
		color: var(--text-color-secondary)
		font-size: var(--font-size-small)
		padding-top: 10px

	.errorlist
		color: var(--color-danger)
		padding-bottom: 10px
		padding-left: 0
		margin-top: 15px

		li:after
			display: none

	.errorlist + p
		label
			color: var(--color-danger)
		input
			border-color: var(--color-danger)

li.field
	&-region, // .field-region
	&-locality, // .field-locality
	&-company, // .field-country
	&-country, // .field-country
	&-postal_code, // .field-postal_code
	&-region, // .field-region
	&-billing_email, // .field-billing_email
	&-street_address, // .field-street_address
	&-vat_number // .field-vat_number
		display: none !important

		&.show
			@extend .d-flex

.settings-wrapper
	li.field
		&-region, // .field-region
		&-locality, // .field-locality
		&-company, // .field-country
		&-country, // .field-country
		&-postal_code, // .field-postal_code
		&-region, // .field-region
		&-billing_email, // .field-billing_email
		&-street_address, // .field-street_address
		&-extended_address, // .field-street_address
		&-vat_number // .field-vat_number
			display: flex !important

.base-form-donation-display-name
	.x-save-confirm
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s, visibility 0.3s;
		&.show
			visibility: visible;
			opacity: 1;
			transition: opacity 0.3s, visibility 0.3s;
