form.link-membership-form

	.form .errorlist
		background-color: var(--color-danger-bg)
		border-radius: var(--border-radius)
		color: var(--color-danger-text)
		list-style: none
		+margin(3, bottom)
		+padding(3, x)
		+padding(2, y)

	.form-field
		float: left
		margin-top: 10px
		padding-right: 10px
		width: 50%

		input
			padding: 5px
			width: 100%

		label
			font-size: small

