$stats-item-size: 14rem
$stats-item-top-background: hsl(226, 60%, 46%)
$stats-item-middle-background: hsl(246, 60%, 46%)
$stats-item-bottom-background: hsl(266, 80%, 46%)
$stats-background: var(--header-bg-color)

.stats-container
	pointer-events: none
	position: relative

	&:after
		border-right-color: transparent !important
		border-top-color: $stats-background !important
		z-index: 1

.stats-content
	@extend .container
	display: flex
	flex-direction: column
	justify-content: center
	position: relative
	z-index: 2

	@include media-breakpoint-up(md)
		flex-direction: row

.stats-container,
.stats-items
	@extend .d-flex
	@extend .justify-content-center
	@extend .text-center

	@include media-breakpoint-up(lg)
		flex-direction: row
		+margin(-7, top)

.stats-items
	align-items: flex-end
	flex-direction: column
	padding-top: calc(var(--spacer) * 5)
	pointer-events: none
	position: relative
	z-index: 9

	@include media-breakpoint-up(lg)
		top: $stats-item-size * -0.8
		margin-bottom: $stats-item-size * -0.8

.stats-item
	@extend .d-flex
	@extend .flex-column
	@extend .mx-5
	background-color: $stats-item-top-background
	color: rgba(white, .8)
	filter: drop-shadow(0 10px 0 rgba($stats-item-top-background,.33)) drop-shadow(0 20px 0 $stats-background) drop-shadow(0 -10px 0 rgba($stats-item-top-background,.33)) drop-shadow(0 -20px 0 $stats-background)
	margin-top: calc(var(--spacer) * 5)
	position: relative
	width: $stats-item-size

	&:before,
	&:after
		border-left: ($stats-item-size / 2) solid transparent
		border-right: ($stats-item-size / 2) solid transparent
		content: ""
		position: absolute
		width: 0

	&:before
		border-bottom: ($stats-item-size / 3.33) solid $stats-item-top-background
		bottom: 100%

	&:after
		border-top: ($stats-item-size / 3.33) solid $stats-item-top-background
		top: 100%
		width: 0

	&.stats-pos-top
		left: 50px

		@include media-breakpoint-up(md)
			left: unset

	&.stats-pos-middle
		background-color: $stats-item-middle-background
		filter: drop-shadow(0 8px 0 rgba($stats-item-middle-background,.33)) drop-shadow(0 15px 0 $stats-background) drop-shadow(0 -8px 0 rgba($stats-item-middle-background,.33)) drop-shadow(0 -15px 0 $stats-background)
		margin-top: $spacer * 7
		right: 40%

		@include media-breakpoint-up(md)
			margin-top: $spacer * 6
			right: $stats-item-size / 1.11

		&:before
			border-bottom-color: $stats-item-middle-background
		&:after
			border-top-color: $stats-item-middle-background

	&.stats-pos-bottom
		background-color: $stats-item-bottom-background
		filter: drop-shadow(0 8px 0 rgba($stats-item-bottom-background,.33)) drop-shadow(0 15px 0 $stats-background) drop-shadow(0 -8px 0 rgba($stats-item-bottom-background,.33)) drop-shadow(0 -15px 0 $stats-background)
		left: 50px
		top: -12px

		@include media-breakpoint-up(md)
			left: unset

		&:before
			border-bottom-color: $stats-item-bottom-background
		&:after
			border-top-color: $stats-item-bottom-background

	&.stats-size-small
		width: $stats-item-size / 1.5

		&:before,
		&:after
			border-left-width: ($stats-item-size / 3)
			border-right-width: ($stats-item-size / 3)

		&:before
			border-bottom-width: ($stats-item-size / 6)

		&:after
			border-top-width: ($stats-item-size / 6)

		.stats-sum,
		.stats-sum-name
			transform: unset
			@extend .p-0

	&.stats-pos-bottom
		right: $stats-item-size / 6

	.currency-symbol
		font-size: 50%

.stats-sum
	align-items: center
	display: flex
	font-size: 3rem
	+font-weight-bold
	justify-content: center

.stats-sum-name
	+font-weight-bold
	opacity: .8

.stats-intro
	margin-right: auto
	position: relative
	z-index: 1

	@include media-breakpoint-up(lg)
		padding-right: $spacer * 8

	a
		text-decoration: underline

.stats-activity
	--activity-icon-size: 36px

	color: var(--header-text-color)
	+padding(4)
	+margin(4, top)
	position: relative
	text-align: left

	> ul
		+list-unstyled

		> li
			> i
				+padding(1, right)

			&:hover
				.edit-link
					opacity: 1

	h4
		opacity: .5
		+font-weight-normal

	a
		text-decoration: none
		pointer-events: initial

		&:hover
			text-decoration: underline

	.a-image
		+margin(1, left)
		+margin(3, right)
		max-height: var(--activity-icon-size)
		max-width: var(--activity-icon-size)
		transition: transform 300ms
		position: relative
		z-index: 1

	.a-item
		a
			display: block
			+padding(1, bottom)

	.a-body
		+margin(2)
		+padding(4, x)

		.btn
			+margin(3, top)

	.time
		opacity: .4
		+padding(2, x)
		white-space: nowrap

	/* The icon for each activity. Fallsback to "i-trending" */
	.i-activity
		@extend .i-trending

	/* Activity categories. */
	.a-cat-membership-start
		i.i-activity
			@extend .i-heart-filled
			color: var(--color-danger)

	.a-cat-membership-renew
		i.i-activity
			@extend .i-heart
			color: var(--color-danger)

		&.a-membership-cat-CORP
			i.i-activity
				@extend .i-star

	.a-cat-dev-fund-grant
		i.i-activity
			@extend .i-award
			color: var(--color-warning)

	.a-cat-announcement
		i
			color: var(--color-info)

	.a-cat-donation
		i.i-activity
			@extend .i-heart
			color: var(--color-danger)

	.edit-link
		opacity: 1

		+media-sm
			opacity: 0

.activity-list
	h1
		color: white
	.container-main
		background-color: var(--navbar-global-bg)

	.pagination
		.page-current
			+media-xs
				display: none

.stats-activity-pagination-top
	.pagination
		justify-content: flex-end
		+padding(0)

		+media-xs
			justify-content: center
			+margin(4, top)

.stats-activity-standalone
	color: var(--text-color-secondary)
	+margin(0)
	+padding(0)

	strong
		color: white

	.a-cat-donation
		/* Activity icon. */
		> i
			display: block
			+margin(1, left)
			+margin(3, right)
			text-align: center
			transition: transform 300ms
			width: var(--activity-icon-size)

			&:before
				left: 2px
				position: relative

	> ul
		> li
			align-items: center
			border-left: var(--border-width) solid #444
			display: flex
			+margin(3, left)
			+padding(3, x)
			+padding(2, y)
			position: relative

			&:hover
				&::before
					transform: scaleX(2)

				.a-image,
				i.i-activity
					transform: scale(1.2)

			&::before
				background-color: #555
				border-radius: 999em
				box-shadow: 0 0 0 3px var(--navbar-global-bg)
				content: ''
				height: var(--border-width)
				left: -7px
				position: absolute
				transition: transform 300ms
				top: 50%
				width: 12px
				z-index: 0

			&.a-cat-announcement,
			&.a-cat-dev-fund-grant
				border: none

				&+li
					border: none

				&+.a-cat-announcement,
				&+.a-cat-dev-fund-grant
					+margin(3, top)

	.a-cat-announcement,
	.a-cat-dev-fund-grant
		background-color: var(--background-color-primary)
		border-radius: var(--border-radius)
		+box-shadow-card

		.a-title
			font-size: var(--font-size-large)

	.a-title
		+media-xs
			width: 100%

.stats-progress
	@include media-breakpoint-up(lg)
		padding-right: $spacer * 2
