@import '../../../../assets_shared/src/styles/_media_queries.sass'
@import '../../../../assets_shared/src/styles/_variables.sass'
@import '../../../../assets_shared/src/styles/_mixins.sass'

\:root
  /* Should match colorBg in campaign.js */
  --body-bg: #edf4fd
  --background-color: var(--body-bg)

.landing-campaign
  .container-main
    background-color: var(--body-bg)

  .nav-global
    --nav-global-color-bg: transparent
    --nav-global-color-menu-bg: hsl(213, 10%, 14%)
    --nav-global-color-text: black
    --nav-global-color-text-hover: var(--color-primary)
    --nav-global-color-text-active: var(--color-primary)

    left: 0
    position: absolute
    right: 0
    z-index: var(--zindex-fixed)

    .nav-global-apps-menu
      color: hsl(213, 5%, 64%)

      svg
        fill: hsl(213, 5%, 64%)

    .nav-global-logo:hover svg
      fill: var(--color-primary)

    +media-xs
      .nav-global-nav-links
        color: hsl(213, 5%, 64%)
        max-width: 30ch
        width: unset

  /* Avoid coloring the logo active (blue). */
  .nav-global nav .nav-global-logo.is-active,
  .nav-global nav .nav-global-logo.is-active svg
    color: black !important
    fill: black !important

.donate_once_thank_you
  .campaign--message
    color: black
    mix-blend-mode: initial
    padding-bottom: 0
    text-align: center

    h1
      margin-bottom: 0

    img
      animation: badge-dance 5s infinite
      display: block
      filter: drop-shadow(0 0 1.75rem #1441b1);
      margin: 2rem auto 0 auto
      max-width: 280px

  .campaign--donation-box
    +margin(4, top)

.campaign-container
  background-color: white
  height: 100vh
  padding-top: var(--navbar-primary-height)
  position: relative
  width: 100%


  > .container > .row
    z-index: 1

  .is-non-interactive
    // So we can click through and play with the canvas behind.
    pointer-events: none

.campaign--message
  color: #000000
  font-size: var(--font-size-large)
  +font-weight-bold
  mix-blend-mode: normal
  +padding(2, x)
  +padding(5, y)
  user-select: none

  a
    pointer-events: initial

  h1
    font-size: var(--font-size-hero-title)
    +font-weight(900)
    line-height: 1.1
    +margin(3, bottom)

    span
      display: block

.campaign--donation-box
  height: 100%
  +padding(4, y)
  pointer-events: initial

  .box
    background-color: rgba(white, .8) !important
    backdrop-filter: blur(15px)

.campaign--progress
  inset: 0
  overflow: hidden
  position: absolute

  canvas
    background: var(--body-bg)
    height: 100%
    position: relative
    width: 100%

    +media-xs
      display: none

#tooltip
  background-color: rgba(white, .6)
  backdrop-filter: blur(25px)
  border-radius: var(--border-radius)
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3)
  color: #666
  font-size: var(--font-size-small)
  mix-blend-mode: luminosity
  min-width: 28ch
  opacity: 0
  +padding(2, x)
  +padding(1, y)
  pointer-events: none
  position: absolute
  transition: opacity 300ms
  user-select: none
  white-space: nowrap
  z-index: 1000

  strong
    color: black
    +font-weight-bold

  &.is-visible
    opacity: 1


#progress-text
  display: block
  +margin(4, top)

#progress-bar
  background: rgba(black, .2)
  border-radius: 999em
  height: 4px
  +margin(2, top)
  max-width: 450px
  width: 100%
  position: relative

  &::after
    content: '10K'
    position: absolute
    right: 0
    top: 125%
    font-size: var(--font-size-small)
    color: rgba(black, .6)

  span
    animation: progress-bar-shine 10s infinite
    animation-delay: 5s
    background: linear-gradient(90deg, rgba(black,.6) 0%,rgba(black,.2) 66%, rgba(black,.6) 75%) white
    background-size: 400% 100%
    border-radius: 999em
    display: block
    height: 4px
    max-width: 100%
    position: relative

@keyframes progress-bar-shine
  0%
    background-position: right
  40%
    background-position: left
  100%
