\:root
	--font-size-membership-corp-gold: 3rem
	--font-size-membership-corp-silver: 2.6rem
	--font-size-membership-corp-bronze: 1.66rem
	--font-size-membership-top: 1.46667rem
	--font-size-hero-title: clamp(3rem, 4vw + 1rem, 72px)

	--header-bg-color: hsl(254deg, 50%, 13%)
	--header-text-color: hsl(213deg 10% 92%)

/* Bootstrap overrides. */
$font-size-base: .9rem

$progress-height: .5rem
$font-path: '../../assets/fonts'
@import '../../../../assets_shared/src/styles/main.sass'

@import braintree
@import checkout
@import form
@import link_membership
@import memberships
@import plugin_select2
@import progress_bar
@import settings
@import stats

.homepage
	.container-main
		background-color: var(--header-bg-color)

.nav-global
	z-index: initial

.hero
	background-color: var(--header-bg-color)
	background-image: linear-gradient(hsl(213, 10%, 14%), var(--header-bg-color))
	color: var(--header-text-color)
	text-shadow: none

.hero-content
	+margin(-6, top)

.hero-subtitle
	max-width: 580px

	h2
		font-size: var(--font-size-hero-title)
		+font-weight-title
		line-height: var(--font-size-hero-title)
		+text-gradient(144deg, hsl(344deg, 100%, 98%), hsl(243deg, 100%, 90%))

.responsive-object
	position: relative
	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.section-title
	display: block
	text-align: center

	.text-gradient
		background: linear-gradient(199deg, hsl(hue(orange), 70%, 70%) 39%, hsl(hue(pink), 100%, 50%) 70%)
		background-color: hsl(hue(cyan), 100%, 30%)
		background-clip: text
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		+font-weight-light
		margin: 50px auto 0
		position: relative
		width: 100%

		&:first-child
			margin-top: 0

		&:before, &:after
			background: linear-gradient(to right, transparent, rgba(violet, .5))
			border-radius: 999em
			content: ''
			display: block
			height: var(--border-width)
			position: absolute
			top: 15px
			width: 33%

			+media-xs
				display: none

		&:after
			background: linear-gradient(to left, transparent, rgba(violet, .5))
			right: 0

table > tbody > tr > td
	vertical-align: middle !important

.box-shadow-subtle
	box-shadow: 1px 1px 2px rgba(black, .1)

.box.outline
	border: var(--border-width) var(--border-color) solid
	box-shadow: none
	margin-bottom: var(--spacer)

.bg-corporate
	background-color: hsl(188, 91%, 38%)

.bg-individual
	background-color: hsl(188, 91%, 48%)

.progress-legend
	width: 10px
	height: 10px

/* Utilities. */
.bg-noise
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.102' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='15' specularConstant='0.75' specularExponent='20' lighting-color='%23f5a623' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='100'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%23f5a623' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E")

/* Utility for flipping elements horizontally. */
.transform-flip-h
	transform: scaleX(-1)

/* Survey. */
.survey
	label
		color: var(--text-color-primary)
		+font-weight-normal

	input[type="checkbox"],
	input[type="radio"]
		&+label
			display: inline
			+padding(2, left)

		&[checked]
			&+label
				+font-weight-bold

	h3
		font-size: 1.1rem
		+margin(3, bottom)

.radio-horizontal
	display: grid
	grid-template-columns: repeat(1, fr)

	+media-sm
		grid-template-columns: repeat(5, 1fr)

		&.has-4
			grid-template-columns: repeat(4, 1fr)

		&.has-7
			grid-template-columns: repeat(7, 1fr)

.input-w-sm
	max-width: 100%
	width: 100%

	+media-md
		width: 14ch

.code-container
	position: relative

	button
		position: absolute
		right: var(--spacer-2)
		top: var(--spacer-2)

.is-visible
	display: block

.is-hidden
	display: none
