{% if membership.url %}
<a
    href="{{ membership.url }}"
    target="_blank"
    {%
    if
    not
    membership.suppress_nofollow
    %}rel="nofollow"
    {%
    endif
    %}
    title="{{ membership.display_name|default:'anonymous' }}"
>
    {% if membership.logo %}
    <img class="max-w-28" src="{{ membership.logo.url }}" alt="{{ membership.display_name|default:'-anonymous-' }}" />
    {% else %}
    <span class="name" title="{{ membership.display_name|default:'anonymous' }}">
        {{ membership.display_name|default:'-anonymous-' }}
    </span>
    {% endif %}
</a>
{% elif membership.logo %}
<img class="max-w-20" src="{{ membership.logo.url }}" alt="{{ membership.display_name|default:'-anonymous-' }}" />
{% else %}
<span class="name" class="text-base" title="{{ membership.display_name|default:'anonymous' }}">
    {{ membership.display_name|default:'anonymous' }}
</span>
{% endif %}
