{% extends "blender_fund/layout.html" %}
{% block content %}
<div class="container pb-3">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="box p-4">
        <h2 class="mt-0">Internal Server Error</h2>
        <p>
          There was an error handling your request. The error has
          been logged and we'll try and fix it as soon as possible.
        </p>
        <p>
          If the error keeps occurring, please contact
          <a href="mailto:{{ settings.ADMIN_EMAIL }}">{{ settings.ADMIN_EMAIL }}</a>.
        </p>
      </div>
    </div>
  </div>
</div>{% endblock %}
