{% extends "blender_fund/layout.html" %}

{% block head %}
{% load static %}
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container settings-wrapper">
  <div class="row">
    <div class="col-md-3">
      {% block sidebar %}
      <nav class="sidebar-nav">
        <ul>
          <li>
            <a href="{% url 'settings_home' %}" {% if request.path == '/settings/' %}class="active"{% endif %}>
              <i class="i-heart"></i> My Membership
            </a>
          </li>
          <li>
            <a href="{% url 'looper:settings_billing_info' %}" {% if request.path == '/settings/billing/' %}class="active"{% endif %}>
              <i class="i-home"></i> Billing Address
            </a>
          </li>
          <li>
            <a href="{% url 'looper:payment_methods' %}" {% if request.path == '/settings/billing/payment-methods/' %}class="active"{% endif %}>
              <i class="i-dollar-sign"></i> Payment Methods
            </a>
          </li>
          <li>
            <a href="{% url 'settings_receipts' %}" {% if request.path == '/settings/receipts/' %}class="active"{% endif %}>
              <i class="i-book-open"></i> Receipts
            </a>
          </li>
        </ul>
      </nav>
      {% endblock sidebar %}
    </div>
    <div class="col-md-9">
      {% block admin_tools %}{% endblock admin_tools %}
      <div class="box p-4">
        {% block content_settings %}
        {% endblock content_settings %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_scripts %}
<script>
  //- Initialize the nicer country picker.
  let country_picker = $('#id_country');
  if (country_picker.length) country_picker.select2();
</script>
{% endblock footer_scripts %}
