
{% extends "settings/membership_base.html" %}
{% block after_membership_info %}
<h2>Extend your Membership</h2>
<p>
  Your current membership does not allow flexible extension. If you think this is a mistake,
  please <a href="mailto:{{ ADMIN_EMAIL }}">contact us</a>.

</p>{% endblock after_membership_info %}
