
{% extends "settings/base.html" %}
{% load humanize %}

{% block content_settings %}
{{ block.super }}
<h2>Memberships</h2>

{% if memberships %}
<table class="table table-striped mt-3">
  {% regroup memberships by status as memb_by_status %}
  {% for status, membs in memb_by_status %}
  <tr class="status-header membership-{{ status }}">
    <th colspan="3">
      <h4 class="m-0">{{ status.title }}</h4>
    </th>
  </tr>
  {% for m in membs %}
  <tr class="membership-{{ status }}">
    <td><a href="{% url 'settings_membership_edit' m.id %}">{{ m.level }}</a></td>
    <td><a class="text-muted" href="{% url 'settings_membership_edit' m.id %}">{{ m.display_name }}</a></td>
    <td><a class="text-muted" href="{% url 'settings_membership_edit' m.id %}">{{ m.created_at | naturaltime }}</a></td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% else %}
<div class="pt-2">
  <p>Here you will find details about your Blender Development Fund membership.</p>
  <a class="btn btn-danger" href="{% url 'landing' %}#join">
    <i class="i-heart-filled text-danger"></i>
    <span>Join the Blender Development Fund</span>
  </a>
</div>
{% endif %}
{% endblock content_settings %}
