{% extends "settings/membership_base.html" %}

{% block admin_tools %}{# don't show any admin links here #}{% endblock admin_tools %}

{% block after_membership_info %}
  <h2>Cancellation</h2>
  {% if subscription.status == 'cancelled' or subscription.status == 'pending-cancellation' %}
  <p>Your membership has been cancelled.</p>
  {% else %}
  <p>Are you sure you want to cancel your Blender Development Fund membership?</p>
  {% if subscription.status == 'active' and subscription.next_payment_in_future %}
    <p>
      Your membership will remain active until {{ subscription.next_payment|date }}, since you have
      paid for your membership until then.
    </p>
  {% endif %}
  <form class="form" method="post">
    {% csrf_token %}
    {% include "blender_fund_main/components/form.html" %}
    <hr/>
    <a class="btn" href="{{ back_url }}"><span>← Keep Membership and Go Back</span></a>
    <button class="btn-danger form-submit ml-3" id="submit-button" type="submit"><span>Confirm Cancellation of Membership</span></button>
  </form>
  {% endif %}
{% endblock after_membership_info %}
