{% extends "settings/membership_base.html" %}
{% load filters %}
{% load humanize %}
{% load looper %}

{% block admin_tools %}
  {% if user.is_staff and perms.looper.change_subscription %}
    <a class="btn btn-admin btn-sm mb-3" href="{% url 'admin:looper_subscription_change' object_id=subscription.pk %}" title="Edit in Admin">
      Subscription#{{ subscription.id }} ({{ subscription.status }})
    </a>

    {% if order %}
      <a class="btn btn-admin btn-sm mb-3" href="{% url 'admin:looper_order_change' object_id=order.pk %}" title="Edit order in Admin">
        Order#{{ order.pk }} ({{ order.status }})
      </a>
    {% endif %}

    {% if transaction %}
      <a class="btn btn-admin btn-sm mb-3" href="{% url 'admin:looper_transaction_change' object_id=transaction.pk %}" title="Edit transaction in Admin">
        Transaction#{{ transaction.pk }} ({{ transaction.status }})
      </a>
    {% endif %}
  {% endif %}
  {{ block.super }}
{% endblock admin_tools %}

{% block after_membership_info %}

{% if subscription.status %}
  <hr/>

  {% if subscription.next_payment %}
    {% if subscription.status == 'active' or subscription.status == 'on-hold' %}
      {% if subscription.next_payment_in_future %}
      <p>
        The next {{ subscription.collection_method }} charge of  {{ subscription | pricing }}
        will be <abbr title="{{ subscription.next_payment }}">{{ subscription.next_payment | naturaltime }}</abbr>.
      </p>
      {% else %}
      <p>
        The last {{ subscription.collection_method }} charge of {{ subscription | pricing }}
        was due <abbr title="{{ subscription.next_payment }}">{{ subscription.next_payment | naturaltime }}</abbr>.
      </p>
      {% endif %}
    {% elif subscription.status == 'pending-cancellation' %}
      <p>Your membership is pending cancellation. It will be deactivated <abbr title="{{ subscription.next_payment }}">{{ subscription.next_payment | naturaltime }}</abbr>.</p>  {% endif %}
    {% endif %}

    {% if not membership.is_managed %}
      {% with subscription.payment_method as pay_meth %}
        <p>
          {% if not pay_meth %}
          Payment method: Unknown
          {% elif pay_meth.is_deleted %}
          Payment method: The payment method previously used for this membership was removed.
          {% else %}
          Your payment method is: <strong>{{ pay_meth.recognisable_name }}</strong>
          {% endif %}
        </p>

        {% if subscription %}
        <div class="btn-row mb-3">
          <form class="checkout-form" action="{% url 'payment_method_change' subscription_id=subscription.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <button class="btn px-5" type="submit">Change Payment Method</button>
          </form>
        </div>
        {% endif %}
      {% endwith %}

      {% if subscription.status == 'on-hold' %}
      <div class="btn-row">
        <a class="btn btn-primary" href="{% url 'looper:checkout_existing_order' order_id=order.pk %}">
          <i class="i-check"></i>
          <span>Pay Membership</span>
        </a>
      </div>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if subscription and subscription.collection_method == 'automatic' and 'cancel' not in subscription.status %}
  <hr class="my-4">

  <h3>Automatic Payment</h3>
    {% if order %}
      {% if order.status == 'created' %}
      {% elif order.status == 'soft-failed' %}
      <p>
        Automatic payment failed on {{ transaction.recorded_at }}, but we will automatically try again
        soon. We have made {{ order.collection_attempts }} of a maximum of
        {{ settings.LOOPER_CLOCK_MAX_AUTO_ATTEMPTS }} collection attemps. In the mean time, your
        membership will remain active.
      </p>
      <p>The last error we received was: <span class="transaction-error">{{ transaction.failure_message }}</span></p>
      {% elif order.status == 'failed' %}
      <p>
        Automatic payment failed multiple times, even after trying
        {{ order.collection_attempts }} times. As a result, your membership
        has been deactivated.
      </p>
      <p>The error we received was: <span class="transaction-error">{{ transaction.failure_message }}</span></p>
      {% elif order.status == 'paid' or order.status == 'fulfilled' %}
      <p><i class="i-check-circle text-success"></i> Payment was successful <abbr title="{{ transaction.created_at }}">{{ transaction.created_at | naturaltime }}</abbr>.</p>
      {% elif order.status == 'cancelled' %}
      <p>Automatic payment cancelled and will not be retried.</p>
      {% endif %}
    {% endif %} {# if order #}

    {% if subscription.next_payment %}
    <p>The next automatic payment is scheduled for {{ subscription.next_payment }}.</p>
    {% else %}
    <p>
      There is no next automatic payment scheduled. Please contact
      <a href="mailto:{{ settings.ADMIN_EMAIL }}?subject=No next payment for membership {{ membership.id }}">{{ settings.ADMIN_EMAIL }}</a> about this.
    </p>
    {% endif %}
  {% endif %}

  {% if may_be_charged %}
  <hr class="my-4">
  <h3>Extend Membership</h3>
  <p>Extend your membership by paying any amount.</p>
  <p>Paying here does not change the payment method associated with your membership. Future automatic payments will be charged to your <strong>{{ subscription.payment_method.recognisable_name }}</strong> regardless of how you pay here.</p>
  <form class="checkout-form" action="{% url 'membership_extend' membership_id=membership.id %}" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-inline">
      {% include "blender_fund_main/components/form.html" with form=extend_form %}
    </div>
    <button class="btn px-5" type="submit">Extend Membership</button>
  </form>
  {% endif %}

  {% if subscription and subscription.status == 'cancelled' %}
  <h3>Membership Cancelled</h3>
  <p>This membership has been cancelled. :(</p>

  {% else %}
  <hr class="my-4">

  <h3>Public Information</h3>

  {% if membership.level.visible_attributes_list %}
  <p>Show off! Fill in your/your company info to be displayed in the Sponsors section of the Development Fund frontpage.</p>
  {% else %}
  <p>Your subscription does not have public attributes. Consider upgrading to get your name, a link to your website, or your logo out there!</p>
  {% endif %}

  <form class="checkout-form" id="payment-form" method="post" enctype="multipart/form-data" autocomplete="off" action="{% url 'settings_membership_edit' membership.id %}">
    <div>
      {% csrf_token %}
      {% with form=form|add_form_classes %}
      {% for field in form %}
        <div class="form-group">
          {% include "blender_fund_main/components/field_label_wrapped.html" %}
        </div>
      {% endfor %}
      {% endwith %}
    </div>
    <div class="clearfix"></div>

    {% if membership.level.bid_badge_name %}
    <p>You can view your membership badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">Blender ID Profile</a>.
      For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
    </p>
    {% endif %}

    <div class="d-flex align-items-center pt-3">
      <button class="btn btn-primary px-5" id="submit-button" type="submit">
        <i class="i-check"></i>Save Changes
      </button>

      {% if subscription.status != 'pending-cancellation' and subscription.status != 'cancelled' %}
        <a class="ml-auto btn btn-link btn-danger" href="{% url 'settings_membership_cancel' membership_id=membership.id %}">
          <span>Cancel Membership</span>
        </a>
      {% endif %}
    </div>
  </form>
{% endif %}
{% endblock after_membership_info %}
