{% extends "settings/base.html" %}
{% load humanize %}

{% block admin_tools %}
  {% if membership and membership.pk and user.is_staff and perms.blender_fund_main.change_membership %}
    <a class="btn btn-admin btn-sm mb-3" href="{% url 'admin:blender_fund_main_membership_change' object_id=membership.pk %}">
      Edit
    </a>
  {% endif %}
{% endblock admin_tools %}

{% block content_settings %}
{{ block.super }}
<h2>Membership</h2>

<div class="row">
  <div class="{% if membership.level.badge %}col-md-9{% else %}col-md-12{% endif %}">
    <p class="mt-2">
      Your <strong>{{ membership.level.name }}</strong> membership started	<abbr title="{{ membership.created_at }}">{{ membership.created_at | naturaltime }}</abbr>
      and is currently <strong>{{ membership.status }}</strong>.
    </p>
  </div>
  {% if membership.level.badge %}
  <div class="col-md-3">
    <img class="img-responsive" src="{{ membership.level.badge.url }}"/>
  </div>
  {% endif %}
</div>

{% block after_membership_info %}{% endblock %}
{% endblock content_settings %}
