<!DOCTYPE html>
<html>
  {% spaceless %}
  <head>
    <title>{% block title %}{{ subject }}{% endblock %}</title>
    <style>
      html, body {
      	background-color: white;
      	color: black;
      	font-family: 'Roboto', 'Noto Sans', sans-serif;
      	font-size: 10pt;
      }
      
      body {
      	max-width: 100%;
      	width: 60ex;
      	margin-right: auto;
      	padding: 0.5em 1em;
      }
      
      p {
      	line-height: 150%;
      }
      p.closing {
      	margin-top: 2em;
      }
      
      section.about {
      	margin-top: 2em;
      	color: #888;
      }
    </style>
  </head>
  {% endspaceless %}
  <body>
    <p>Dear {{ full_name|default:email }},</p>
    {% spaceless %}{% block body %}{% endblock %}{% endspaceless %}
    {% if user and membership_url %}
      <p>You can always go to <a href="{{ membership_url }}">{{ membership_url }}</a> to view and update your membership.</p>
    {% endif %}
    <p class="closing">
      --<br>
      Kind regards,<br>
      Blender Foundation
    </p>
  </body>
</html>
