{% extends "blender_fund/empty_page.html" %}
{% load looper %}

{% block content %}
<div class="checkout-container">
  <div class="levels-background"></div>
  <section class="box checkout">
    <header class="plan-info">
      {% if plan.membership.image %}
      <div>
        <img class="membership-logo" src="{{ plan.membership.image.url }}">
      </div>
      {% endif %}
      <div class="plan-description">
        <h1>{{ plan.name }}</h1>
        <span>
          <strong>{{ plan_variation|pricing }}</strong>
          <a title="Change monthly/yearly" href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}">
            adjust plan
          </a>
        </span>
      </div>
    </header>

    {% block after_header %}{% endblock %}
  </section>
</div>
{% endblock %}
