{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% load pipeline %}

{% block content %}
<div class="checkout-container">
  <section class="box checkout">
    <header><a class="text-muted" href="/"><i class="i-chevron-left pr-3"></i> Blender Development Fund</a>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">{{ plan.description }}</h2>
        <h2 class="ml-auto my-0 pt-4"><span>{{ order.price.with_currency_symbol }} for {{ subscription.interval_length }} {{ subscription.interval_unit }}</span></h2>
      </section>
    </header>
    <hr/>
    <form class="checkout-form" id="payment-form" method="post"
          data-looper-payment-form="true"
          data-braintree-client-token="{{ client_token }}">{% csrf_token %}
      <section class="checkout-form-fields">
        <ul class="form">{{ form.as_ul }}</ul>
        <div id="gateway-errors"></div>
      </section>
      <hr/>
      <button class="btn-success form-submit" id="submit-button" type="submit"><span>Pay {{ order.price.with_currency_symbol }}</span></button>
    </form>
  </section>
</div>
{% include "looper/scripts.html" %}
{% endblock %}
