
{% extends "blender_fund/empty_page.html" %}
{% block head %}
<style>
  .notes {
      margin-top: 4em;
      margin-left: auto;
      margin-right: auto;
      width: 30em;
      color: #ddd;
      font-size: smaller;
  }
</style>
{% endblock %}

{% block content %}
<div class="checkout-yay-bg py-5 checkout-container">
  <div class="container text-center py-5">
    <h1 class="thanks">
      Thank you {{ user.customer.billing_address.full_name }}! <i class="i-heart text-danger pl-3"></i>
    </h1>
    <div class="lead pt-4">
      You are now a <strong>{{ order.subscription.plan }}</strong> member of the Blender Development Fund
    </div>

    <div class="checkout-yay py-3">
      {% with membership=order.subscription.membership %}

      {% if membership.customer.user %}{# Membership created while logged in #}
      <a class="plan" href="{% url 'settings_membership_edit' membership_id=membership.pk %}" title="Manage your memberships">
      {% if membership.level.badge %}
      <img class="img-responsive" src="{{ membership.level.badge.url }}" alt="{{ order.subscription.plan }}"/>
      {% else %}
      <span>
        <h1>{{ order.subscription.plan }}</h1>
      </span>
      {% endif %}
      </a>

      <a class="d-block pt-5" href="{% url 'settings_membership_edit' membership_id=membership.pk %}" title="Manage your memberships">
        Manage your membership <i class="i-chevron-right pl-2"></i>
      </a>

      {% if membership.level.bid_badge_name %}
      <div class="notes">
        <p>You can view your badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">Blender ID Profile</a>.
          For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
        </p>
      </div>
      {% endif %}

      {% else %}{# Membership created without while logged out #}
        <p class="fw-bold">
          {% include "blender_fund_main/claim_text.html" %}
        </p>
        <p class="mt-2">
          <a class="cta btn btn-lg btn-success bg-success text-light text-underline" href="{% url 'link_membership' token=membership.customer.token.token %}">Claim membership</a>
        </p>
        <p>This link has also been sent to your email.</p>
      {% endif %}
      {% endwith %}

      <canvas class="fireworks"></canvas>
      <div class="background">
        <div class="stars small"></div>
        <div class="stars medium"></div>
        <div class="stars big"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer_scripts %}
  {% include "blender_fund_main/components/fireworks.html" %}
  {% if order.paid_at %}
    {% include "blender_fund_main/components/set_donated_at_cookie.html" with paid_at=order.paid_at|date:"U" %}
  {% endif %}
{% endblock footer_scripts %}
