{% extends "blender_fund/empty_page.html" %}

{% block body_classes %}checkout-done{% endblock %}

{% block content %}
<div class="checkout-yay-bg py-5 checkout-container">
  <div class="container text-center py-5">
    <h1 class="thanks">
      Thank you {{ order.customer.billing_address.full_name }}! <i class="i-heart-filled text-danger pl-2"></i>
    </h1>
    <div class="lead py-3">
      You are now a <strong>{{ order.subscription.plan }}</strong> member of the Blender Development Fund
    </div>
    <p>
      Your membership will be activated as soon as we have handled your bank transfer.
    </p>

    <div class="mx-auto checkout-send-instructions mt-5">
      <p>Please send your payment to:</p>
      <pre class="pb-0">
        Stichting Blender Foundation
        Buikslotermeerplein 161
        1025 ET Amsterdam, the Netherlands

        Bank: ING Bank
        Bijlmerdreef 109
        1102 BW Amsterdam, the Netherlands

        BIC/Swift code: INGB NL 2A
        IBAN: NL45 INGB 0009356121 (for Euro countries)

        Tax number NL 8111.66.223
      </pre>
    </div>

    <div class="mention mx-auto">
      <p>
        When paying, mention the following with your bank transfer:
      </p>
      <strong>Blender Fund Membership subs-{{ order.subscription.id }}</strong>
    </div>

    <p>This information is also sent to you by email.</p>

    {% with membership=order.subscription.membership %}
    {% if membership.customer.user %}
    <p>Continue to your <a href="{% url 'settings_membership_edit' membership_id=membership.id %}">membership details</a></p>
    {% if membership.level.bid_badge_name %}
    <div class="notes">
      <p>Once your membership is activated, you can view your badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">Blender ID profile</a>.
        For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
      </p>
    </div>
    {% endif %}
    {% else %}
    <p>
      <a class="cta btn btn-lg btn-success bg-success text-light text-underline" href="{% url 'link_membership' token=membership.customer.token.token %}">Claim membership</a>
    </p>
    {% endif %}
    {% endwith %}
  </div>
</div>

<canvas class="fireworks"></canvas>
<div class="background">
  <div class="stars small"></div>
  <div class="stars medium"></div>
  <div class="stars big"></div>
</div>
{% endblock %}


{% block footer_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
<script>
  window.human = false;

  var canvasEl = document.querySelector('.fireworks');
  var ctx = canvasEl.getContext('2d');
  var numberOfParticules = 50;
  var colors = ['#FFBA08', '#08a7FF', '#FFFFFF'];

  function setCanvasSize() {
    canvasEl.width = window.innerWidth;
    canvasEl.height = window.innerHeight;
    canvasEl.style.width = window.innerWidth + 'px';
    canvasEl.style.height = window.innerHeight + 'px';
  }

  function setParticuleDirection(p) {
    var angle = anime.random(0, 360) * Math.PI / 180;
    var value = anime.random(50, 180);
    var radius = [-1, 1][anime.random(0, 1)] * value;
    return {
      x: p.x + radius * Math.cos(angle),
      y: p.y + radius * Math.sin(angle)
    }
  }

  function createParticule(x,y) {
    var p = {};
    p.x = x;
    p.y = y;
    p.color = colors[anime.random(0, colors.length - 1)];
    p.radius = anime.random(4, 16);
    p.endPos = setParticuleDirection(p);
    p.draw = function() {
      ctx.beginPath();
      ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, true);
      ctx.fillStyle = p.color;
      ctx.fill();
    }
    return p;
  }

  function renderParticule(anim) {
    for (var i = 0; i < anim.animatables.length; i++) {
      anim.animatables[i].target.draw();
    }
  }

  function animateParticules(x, y) {
    var particules = [];
    for (var i = 0; i < numberOfParticules; i++) {
      particules.push(createParticule(x, y));
    }
    anime.timeline().add({
      targets: particules,
      x: function(p) { return p.endPos.x; },
      y: function(p) { return p.endPos.y; },
      radius: 0,
      duration: anime.random(1200, 6400),
      easing: 'easeOutExpo',
      update: renderParticule
    });
  }

  var render = anime({
    duration: Infinity,
    update: function() {
      ctx.clearRect(0, 0, canvasEl.width, canvasEl.height);
    }
  });

  var centerX = canvasEl.width / 2;
  var centerY = canvasEl.height / 2;

  var centerYPadding = window.innerHeight / 4;

  function autoClick() {
    animateParticules(
      anime.random(0, window.innerWidth),
      anime.random(50, window.innerHeight / 3)
    );
    anime({duration: 1200}).finished.then(autoClick);
  }

  autoClick();
  setCanvasSize();
  window.addEventListener('resize', setCanvasSize, false);
</script>
{% include "blender_fund_main/components/set_donated_at_cookie.html" %}
{% endblock footer_scripts %}
