{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% load pipeline %}

{% block content %}
<div class="checkout-container">
  <div class="levels-background"></div>
  <section class="box checkout">
    <header>
      <section class="plan-info">
        {% if plan.membership.image %}
        <div>
          <img class="membership-logo" src="{{ plan.membership.image.url }}">
        </div>
        {% endif %}
        <div class="plan-description">
          <h1>{{ plan.description }}</h1>
          <span>
            Choose a plan.
          </span>
        </div>
      </section>
    </header>

    <div class="my-4">
      <div class="btn-row-fluid">
        {% for planvar in object_list %}
          <a class="btn {% if planvar.pk == current_plan_variation.pk %}is-active{% endif %}" href="{% url 'looper:checkout' plan_id=plan.id plan_variation_id=planvar.id %}">
            <span>
              {{ planvar|pricing }}
            </span>
          </a>

          {% empty %}
          <!-- - TODO(fsiddi): Provide link to return to previous page-->
          <p>Sorry, no variation is available in your currency.</p>
        {% endfor %}
      </div>
    </div>

    <hr>

    <div class="btn-row justify-content-between">
      <a href="{% url 'looper:checkout' plan_id=plan.id plan_variation_id=current_plan_variation.id %}" class="btn btn-link btn-prev">
        <i class="i-chevron-left"></i> Back
      </a>

      {% if preferred_currency == 'EUR' %}
      <a href="javascript:set_preferred_currency('USD');" class="btn btn-link">Switch to USD</a>
      {% else %}
      <a href="javascript:set_preferred_currency('EUR');" class="btn btn-link">Switch to EUR</a>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}

{% block footer_scripts %}
{% javascript 'looper_currency' %}
{% endblock footer_scripts %}
