{% extends "blender_fund/layout.html" %}

{% block page_header %}{% endblock page_header %}

{% block page_title %}{{ flatpage.title }} &mdash; {% endblock %}

{% block content %}
  <div class="container">
    {% if request.user.is_staff %}
    <div class="btn-row justify-content-end">
      <a class="btn btn-admin" href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}">
        <i class="i-edit"></i>
        <span>Edit Page</span>
      </a>
    </div>
    {% endif %}

    {# Add blocks 'flatpage_content_extra' to append or prepend custom content to fatpage content in templates. #}
    {% block flatpage_content_extra_start %}{% endblock %}

    {{ flatpage.content }}

    {% block flatpage_content_extra_end %}{% endblock %}
  </div>
{% endblock %}
