{% extends 'flatpages/default.html' %}
{% load static %}

{% block flatpage_content_extra_start %}
  <div class="bg-noise box">
    <h2>Donate Once</h2>
    <div id="js-donation-box"></div>
  </div>
  <script src="https://fund.blender.org/static/fetch-donation-box.js"></script>
  <script>
    fetchDonationBox({
      jsUrl: 'https://fund.blender.org/static/js/donation-box.js',
      selector: '#js-donation-box',
      url: 'https://fund.blender.org/static/donation-box.html'
    });
  </script>
{% endblock %}
