
{% extends "blender_fund/layout.html" %}
{% block page_title %}Login loop detected{% endblock %}
{% block box_title %}Login loop detected{% endblock %}
{% block box_content %}
<p>
  We detected a runaway login loop, which means that there was an issue communicating with
  Blender ID. Please return to the <a href="/">front page</a> and try again.
</p>
<p>
  If this problem persists, please contact
  <a href="mailto:{{ settings.ADMIN_EMAIL }}">{{ settings.ADMIN_EMAIL }}</a>.
</p>{% endblock %}
