{% load i18n admin_urls %}
{% block object-tools-items %}
  {% with obj=original.obj accountless_obj=original.accountless_obj default_obj=original.default_obj %}
      <li>
        {% if accountless_obj and obj.pk != accountless_obj.pk %}
          <a href="?object_id={{ accountless_obj.pk }}" class="historylink">Preview with an account-less {{ accountless_obj }} instead</a>
        {% endif %}
        {% if default_obj and obj.pk != default_obj.pk %}
          <a href="?object_id={{ default_obj.pk }}" class="historylink">Preview with {{ default_obj}} instead</a>
        {% endif %}
      </li>
  {% endwith %}
{% endblock %}
